.iti__hide {
	display: none;
}

.link-bar-2 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.eyeIcon {
	cursor: pointer;
	position: absolute;
	margin-left: -25px;
	padding: 10px 5px 10px 5px;
	border-left: 1px solid #ccc;
	position: absolute;
}

.tooltip {
	background: #18876e;
	bottom: 100%;
	color: #fff;
	display: block;
	left: -25px;
	margin-bottom: 5px;
	opacity: 0;
	padding: 10px;
	border-radius: 5px;
	pointer-events: none;
	position: absolute;
	/* width: 100%; */
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	z-index: 2000;
	width: 200%;
	left: -75%;
}

pre {
	margin: 0 !important;
	display: inline-block;
}

.token.operator, .token.entity, .token.url, .language-css .token.string,
	.style .token.string, .token.variable {
	background: none;
}

input, button {
	margin: 0;
	border-radius: 2px;
	font-family: inherit;
	font-size: 100%;
	color: inherit;
}

input, select {
	border: 1px solid #CCC;
}

::-webkit-input-placeholder {
	color: #BBB;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #BBB;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #BBB;
}

.loaderContent {
	height: 150px;
	width: 150px;
	margin: auto;
	margin-top: 200px;
}

#loader {
	position: fixed;
	display: block;
	width: 100%;
	border: none;
	height: 100%;
	text-align: center;
	background: transparent;
}

.text-block {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.close {
	z-index: 120;
	position: absolute;
	cursor: pointer;
	float: right;
	right: 1vh;
	position: absolute;
}

#error-container {
	min-height: 250px;
	left: 50%;
	transform: translate(-50%, 0);
	height: 40vh;
	top: 50vh;
	width: 250px;
	position: fixed;
	margin-top: -20vh;
	z-index: 100;
	display: none;
	text-align: center;
}
#alert-container{
	min-height: 250px;
	left: 50%;
	transform: translate(-50%, 0);
	height: 40vh;
	top: 50vh;
	width: 250px;
	position: fixed;
	margin-top: -20vh;
	z-index: 100;
	display: none;
	text-align: center;
}
#plan-expire-pop-up {
	min-height: 250px;
	left: 50%;
	transform: translate(-50%, 0);
	height: 40vh;
	top: 50vh;
	width: 250px;
	position: fixed;
	margin-top: -20vh;
	z-index: 100;
	display: none;
	text-align: center;
}

#success-container {
	min-height: 250px;
	left: 50%;
	transform: translate(-50%, 0);
	height: 40vh;
	top: 50vh;
	width: 250px;
	position: fixed;
	margin-top: -20vh;
	z-index: 100;
	display: none;
	text-align: center;
}

#downloadJson {
	cursor: pointer;
	color: blue;
}

.error-content {
	margin-top: 5%;
	height: 85%;
}

#centered-element {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

button {
	color: #FFF;
	background-color: #c22227;
	border: 1px solid #c22227;
}

button:hover {
	border-color: #c22227;
	cursor: pointer;
}

li {
	list-style-type: none;
}

.list-group-item:first-child {
	
}

#result {
	margin-bottom: 100px;
}

.col-md-1-5 {
	max-width: 5%;
}

.col-md-5-10 {
	max-width: 10%;
}

.col-md-10-15 {
	max-width: 15%;
}

.col-md-15-20 {
	max-width: 20%;
}

.col-md-20-25 {
	max-width: 25%;
}

.col-md-25-30 {
	max-width: 30%;
}

#container-fluid {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.bhoechie-tab-container {
	min-height: 700px
}

.fa {
	cursor: pointer;
}

.add-user-btn:hover {
	background-color: #ffffff;
	width: 100%;
	height: 40px;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 4px;
	color: #c22227;
	font-weight: bold;
	border: 0.1em solid #c22227;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1::before {
	background-color: white;
	border: 1px solid #888;
	border-radius: 2px;
	color: #444;
	content: attr(data-title);
	display: none;
	font-family: sans-serif;
	font-size: 14px;
	padding: 2px 5px;
	position: absolute;
	top: 20px;
	left: 5px;
	z-index: 1;
}

.tooltip1:hover::before {
	display: block;
}

.anil_nepal {
	padding: 20px 0px;
	width: 100%;
	display: block;
}

.switch {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing: content-box;
}
/* @media screen and (min-width: 1800px) {
	.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 170px;
    height: 53px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 32px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}
} */

label {
	font-weight: inherit;
}

input[type=checkbox], input[type=radio] {
	margin: 4px 0 0;
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label {
	background: inherit;
}

.switch-left-right .switch-label {
	overflow: hidden;
}

.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px
		rgba(0, 0, 0, 0.15);
	box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label:before {
	opacity: 1;
	left: 100px;
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}

.switch-left-right .switch-label:before {
	background: #eceeef;
	text-align: left;
	padding-left: 80px !important;
}

.switch-left-right .switch-label:before, .switch-left-right .switch-label:after
	{
	width: 20px;
	height: 20px;
	top: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 11px 0 0 0;
	text-indent: -39px;
	border-radius: 20px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px
		rgba(0, 0, 0, 0.1);
}

.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

span.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	position: absolute;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -5px;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label:after {
	left: 0 !important;
	opacity: 1;
	padding-left: 20px;
}

.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}

.switch-left-right .switch-label:after {
	text-align: left;
	text-indent: 4px;
	background: #18876e !important;
	left: -100px !important;
	opacity: 1;
	width: 100% !important;
}

.switch-left-right .switch-label:before, .switch-left-right .switch-label:after
	{
	width: 20px;
	height: 20px;
	top: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 11px 0 0 0;
	border-radius: 20px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px
		rgba(0, 0, 0, 0.1);
}

.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.tooltip-red { -
	-balloon-color: red;
}

textarea {
	overflow-y: scroll;
}

.modal {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.downloadJson {
	cursor: pointer;
}

.required:after {
	content: " *";
	color: #c22227;
}

.active-menu {
	font-weight: bold;
	color: #c22227 !important;
}

.wrapper:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

/* .wrapper {
	cursor: pointer;
} */
/* @media screen and (min-width: 1800px) {
	.wrapper {
	font-size:29px;
}
} */

.wrapper .tooltip {
	background: #18876e;
	bottom: 100%;
	color: #fff;
	display: block;
	margin-bottom: 5px;
	opacity: 0;
	padding: 10px;
	border-radius: 5px;
	pointer-events: none;
	position: absolute;
	/* width: 100%; */
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	z-index: 2000;
}
@media screen and (min-width: 1800px) {
	.wrapper .tooltip {
	font-size:29px;
}
}
.result-heading {
	width: 100%;
	padding-left: 0px;
	border-bottom: 1px solid #c22227;
	line-height: 0.1em;
	margin: 10px 0 20px;
}
.result-heading span{
	background-color: #fff;
	padding-left: 0.9rem;
	padding-right: 0.5rem;
}
#show-sidebar{
	position: fixed;
	cursor:pointer;
    margin-top: 8.1rem;
    margin-left: -1.5rem;
}