body {
	font-family: 'Roboto', sans-serif;
}
main.page-content {
    padding-top: 85px;
}

@media screen and (min-width: 1800px)
{
main.page-content {
    padding-top: 170px;
}}
.tab {
    float: left;
    width: 100%;
    height: 300px;
}
.sem-button {
    background-color: #c22227;
    width: 100%;
    height: 40px;
    margin-top: 28px;
    border-color: #c22227;
    font-size: 16px;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 0;
    font-weight: bold;
}
.ur-detail-wrap.create-kit {
    -webkit-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
    background: #ffffff;
    padding: 0 2em;
    border-radius: 6px;
    border-bottom: 3px solid #c22227;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
.ur-detail-wrap.create-kit, .ur-detail-wrap.top-lay {
    border-bottom: 3px solid #18876e;
}
.ur-detail-wrap {
    width: 100%;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 2em 2.5em 2em;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
html body .padd-bot-0 {
    padding-bottom: 0px !important;
}
.inner-header-title.blank {
    border-bottom: 4px solid #c22227;
    background: #c22227;
}
p {
    margin-bottom: 1rem;
}
.brows-job-list .cndt-profile-btn:hover {
    padding: 15px 0;
    display: block;
    border-top: 1px solid #eef5fb;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    background: #c22227;
    color: white;
}

.inner-header-title.blank {
    padding: 3em 0;
    text-align: center;
    color: #ffffff;
    overflow: visible;
}
@media screen and (min-width: 768px)
.btn-info {
    color: #fff;
    background-color: #c22227;
    border-color: #c22227;
}
.inner-header-title {
    position: relative;
    min-height: 225px;
}
h3 {
    font-size: 30px;
    line-height: 36px;
}
.inner-header-title.blank{
text-align:center;}
.inputfile + label i {
    line-height: 100px;
    text-align: center;
    font-size: 55px;
    color: #ffffff;
    display: block;
    background: transparent;
    border-radius: 50%;
}
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.inputfile + label {
    white-space: nowrap;
}
.inputfile + label {
    background: #c22227;
}
.inputfile + label {
    width: 120px;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    height: 120px;
    border-radius: 50%;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
input[type=file] {
    display: block;
}
label {
    max-width: 100%;
    margin-bottom: 5px;}
    * {
    box-sizing: border-box;
}
.detail-pic {
    border: 1px solid #c22227;
}
.detail-pic {
    display: block;
    width: 140px;
    background: #ffffff;
    border: 1px solid #c22227;
    height: 140px;
    border-radius: 50%;
    margin: 0;
    padding: 9px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
}
.profile-img {
    width: 132px;
    height: 130px;
}
section {
  background: #ffffff;
}
.btn-info {
    color: #fff;
    background-color: #c22227;
    border-color: #c22227;
}
.tab .nav-tabs li.active a, .tab .nav-tabs li.active a:hover {
    background: #c22227;
}
.tab .nav-tabs li.active a, .tab .nav-tabs li.active a:hover {
    color: #fff;
    border: 1px solid transparent;
}
.tab .nav-tabs li a {
    font-size: 14px;
    margin-right: 5px;
    font-weight:bold;
    padding: 10px 25px;
    border-radius: 0;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
}
.nav-tabs>li>a {
    line-height: 1.42857143;
}
.nav>li>a {
    position: relative;
    display: block;
}
.tab .nav-tabs li a {
    color: #c22227;
}
.tab .nav-tabs li a {
    font-size: 14px;
    background: #fafbfb;
    margin-right: 5px;
    padding: 10px 25px;
    border-radius: 0;
    text-transform: uppercase;
    border: 1px solid #e7ecea;
    transition: ease-in-out 0.5s;
}
.tab .nav-tabs {
    background: #ffffff;
    padding: 5px 0;
}
.tool-tab .nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-top: 0;
}
.tab .nav-tabs li {
    margin-bottom: 0;
    margin-right: 0;
    float: none;
    display: inline-block;
}
.nav>li {
    position: relative;
}
.nav {
    list-style: none;
}
.nav {
    margin-bottom: 0;
    list-style: none;
}
.tab .nav-tabs li a i {
    font-size: 20px;
    margin-right: 10px;
}
.fa {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
/* search form */
.tab .tab-content {
    font-size: 14px;
    color: #18876e;
    line-height: 30px;
    background: #ffffff;
}
.tab-content>.active {
    display: block;
}

.fade.in {
    opacity: 1;
}
.fade {transition: opacity .15s linear;}
.tab .tab-content {
    font-size: 14px;
    color: #000000;
    line-height: 30px;
    background: #ffffff;
}
form {
    display: inline-block;
    width: 100%;
}
form {
    margin-top: 0em;
}
.detail-pannel-footer-btn a.footer-btn.choose-cover, .brows-resume .browse-resume-exp span, .detail-pannel-footer-btn a.footer-btn.grn-btn, ul.trim-edu-list li:after {
    background: #c22227;
}
.detail-pannel-footer-btn a.footer-btn {
    padding: 7px 40px;
    margin-left: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight:bold;
    border-radius: 4px;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: capitalize;
}
.add-feild .form-control {
    height: 44px;
    width: 100%;
    color: #707c88;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #ccddea;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;}
    ..form-control{    padding: 6px 12px;
        line-height: 1.42857143;
            background: #fbfdff;
    ransition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .add-feild .input-group {
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.ur-detail-box {
    display: flex;
    align-items: center;
    flex: 1;
}
.ur-thumb {
    width: 140px;
    height: 140px;
    border-radius: 6px;
    border: 4px solid #e3e9ef;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.ur-title {
    margin-bottom: 3px;
}
.ur-location {
    margin-bottom: 5px;
}
.ur-detail-wrap.top-lay {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2.5em 2em;
    border-radius: 6px;
    -webkit-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
    background: #ffffff;
    border-bottom: 3px solid #18876e;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
h2.detail-title {
    font-size: 18px;
    background: #f5f6f7;
    padding: 8px 20px;
    margin-bottom: 16px;
    line-height: 1.6;
    border-radius: 2px;
    color: #35434e;
    border-left: 3px solid #11b719;
}
h2.detail-title {
    border-left: 3px solid #18876e;
}
ul.job-detail-des li span {
    font-weight: 600;
    margin-right: 20px;
    min-width: 120px;
    display: inline-block;
    overflow:hidden;
    text-overflow: ellipsis;
}
ul.job-detail-des li {
    padding: 0;
    color: #66727b;
    list-style: none;
    padding: 10px 12px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.full-detail-description p {
    margin-bottom: 20px;
    line-height: 1.9;
    font-size: 15px;
    padding: 0 20px;
}
.trim-edu {
    padding: 2em 1em;
    border-radius: 4px;
    background: #f5f5f5;
}
.trim-edu-title .title-est {
    font-weight: 400;
    font-size: 14px;
    margin-left: 20px;
    color: #9c9c9c;
}
ul.trim-edu-list li:after {
    content: "";
    position: absolute;
    left: -3.2em;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #11b719;
    top: 0.9em;
}
ul.trim-edu-list li {
    list-style: none;
    margin-bottom: 2em;
    position: relative;
}
ul.trim-edu-list {
    border-left: 3px solid #d6dbe6;
    margin-left: 1.5em;
}
ul.trim-edu-list li:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e9ebef;
    left: -3.4em;
    top: 0.5em;
}
article.advance-search-job {
    padding: 15px 0;
    border-bottom: 1px solid #eceff3;
    width:100%;
}
article {
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.no-mrg {
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
}
.advance-search-caption {
    margin-left: 78px;
    margin-top: 16px;
}
.advance-search-caption h4 {
    color: #3e4850;
    margin-bottom: 3px;
    font-weight: 600;
}
.advance-search-caption span {
    font-weight: 400;
    color: #35434e;
    opacity: 0.8;
}
.advance-search-job-locat i {
    margin-right: 6px;
}
.tg-featuretag:after {
    top: 100%;
    left: 0;
    border-top: 5px solid #eb344f;
    border-left: 5px solid transparent;
}
.tg-themetag {
    top: 7px;
    left: -5px;
    z-index: 0;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    background: #18876e;
    padding: 5px 3px 3px 10px;
    text-transform: uppercase;
    cursor: pointer;
}
ul.trim-edu-list li:after {
    content: "";
    position: absolute;
    left: -3.0em;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #18876e;
    top: 0.9em;
}
.tg-featuretag:before, .tg-featuretag:after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
}
.tg-featuretag:after {
    top: 100%;
    left: 0;
    border-top: 5px solid #18876e;
    border-left: 5px solid transparent;
}
.tg-featuretag:before {
    top: 0;
    left: 100%;
    padding-right: 2rem;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 10px solid #18876e;
}
#toolTipTable1{
	transition: none !important;
}
.wrapper:hover .tooltip{
	width: 15rem;
	left: 0rem;
	bottom: 0.8rem;
    overflow-y: auto;
    max-height: 15rem;
    overflow-x: hidden;
}
.grid-view.brows-job-list {
    position: relative;
    text-align: center;
    padding-bottom: 0;
    margin-top: 30px;
    display: table;
}
.brows-job-list {
    width: 100%;
    clear: both;
    padding: 15px 0;
    transition: .4s;
    border: 1px solid rgba(88,136,247,0.1);
    background: #ffffff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
    align-items: center;
}
.brows-job-list .cndt-profile-btn {
    padding: 15px 0;
    display: block;
    border-top: 1px solid #eef5fb;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    background: #f2f3f5;
}


.trim-edu-title .title-est {
    font-weight: 400;
    font-size: 14px;
    margin-left: 20px;
    color: #9c9c9c;
}
h4 {
    font-size: 16px;
}
.active.Resumeparse{color:#c22227;
font-weight:bold;}
.ur-detail-wrap-header {
    padding: 18px 0 10px 0;
    border-bottom: 1px solid #e0dfe6;
    margin-bottom: 1.5em;
}
span.job-num {
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: capitalize;
    color: #8da2b3;
    background: #f3f6fb;
}
[class*=" ti-"], [class^=ti-] {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.grid-view .brows-job-type span {
    position: absolute;
    padding: 4px 15px;
    top: 10px;
    right: 0;
    line-height: 1.4;
    font-size: 12px;
    border-radius: 2px 0 0 2px;
}
.full-time {
    background: #f2f3f5;
    color: #18876e;
}
a.btn.advance-search {
    background: #c22227;
    border-radius: 4px;
    width:65%;
    margin-top: 16px;
    height: 40px;
    padding: 8px 12px;
    color: #ffffff;
    font-weight:bold;
    letter-spacing: 1px;
}
ul.ove-detail-list li {
    list-style: none;
    margin-bottom: 1.5em;
    padding: 0;
}
.row-bottom {
    margin-bottom: 40px !important;
}
.detail-status span {
    background: #f2f3f5;
    color: #18876e;
}
a.detail-edit i {
    width: 30px;
    height: 30px;
    position: relative;
    background: #c22227;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
a.detail-edit {
    position: absolute;
    left: 44%;
    bottom: -12px;
}
@media only screen and (min-width: 1200px)
{.inner-header-title h1 {
    font-size: 80px;
}}
@media only screen and (min-width: 1024px)
{.inner-header-title h1 {
    font-size: 60px;
    margin: 1em 0;
}}
.inner-header-title h1 {
    font-weight: 600;
    color: #000000;
}
.detail-pic {
    border: 1px solid #c22227;
}
.detail-pic {
    display: block;
    width: 140px;
    background: #ffffff;
    border: 1px solid #c22227;
    height: 140px;
    border-radius: 50%;
    margin: 0;
    padding: 9px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
}
.detail-desc-caption h4 {
    color: #35434E;
    font-size: 22px;
    margin-bottom: 5px;
}
.apply-job-header {
    margin-bottom: 40px;
}
.container-detail-box {
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    padding: 30px 30px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #eaeff5;
}
.apply-job-header a i, .apply-job-header span i {
    margin-right: 5px;
}
ul.skills li {
    display: inline-block;
    list-style: none;
    padding: 3px 15px;
    border: 1px solid #b9c5ce;
    border-radius: 50px;
    margin: 5px;
/*     font-weight: 500;
 */    color: #657180;
}
.apply-job-detail {
    margin-bottom: 30px;
}
ul.skills, ul.job-requirements {
    margin: 15px 0;
    padding: 0;
}
.apply-job-header h4 {
    font-size: 22px;
}
ul.job-requirements li {
    list-style: none;
    display: block;
    padding: 7px 0;
}
ul.job-requirements li span {
    display: inline-block;
    width: 150px;
    font-weight: 500;
}
ul.skills, ul.job-requirements {
    margin: 15px 0;
    padding: 0;
}
.advance-detail.detail-desc-caption {
    text-align: center;
}
.detail-status {
    position: absolute;
    right: 15px;
    top: 15px;
}
html body .full-width {
    width: 100%;
}
@media (min-width: 1200px)
{{.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}}


.ur-detail-wrap.create-kit {
    -webkit-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
    background: #ffffff;
    padding: 0 2em;
    border-radius: 6px;
    border-bottom: 3px solid #18876e;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
html body .padd-bot-0 {
    padding-bottom: 0px !important;
}
.ur-detail-wrap {
    width: 100%;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 2em 2.5em 2em;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
.panel-group {
    margin-bottom: 20px;
}
#accordion .panel {
    border: none;
    outline: none;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.panel {
    background-color: #fff;
}
#accordion .panel-heading {
    padding: 0;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default>.panel-heading {
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
}
#accordion .panel-heading > .panel-title {
    position: relative;
}
.panel-title {
    margin-top: 0;
    border-bottom: 2px solid white;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
#accordion .panel-heading > .panel-title > a {
    background: #c22227;
}
#accordion .panel-heading > .panel-title > a {
    display: block;
    font-size: 18px;
    padding: 18px 35px 18px 15px;
    color: #fff;
    transition: all 0.2s linear 0s;
    border-radius:4px;
}
#accordion .panel-title > a:after, #accordion .panel-title > a.collapsed:after {
    content: "\f139";
    font-family: FontAwesome;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    right: 12px;
}
:after, :before {
    box-sizing: border-box;
}
ul.advance-list li {
    display: block;
    list-style: none;
    padding: 12px 0;
    border-bottom: 1px dashed #dfe3e8;
}
.panel-body {
    padding-right: 15px;
}
#accordion .panel-title > a.collapsed:after {
    content: "\f13a";
    color: #ffffff;
}
.pagination li:first-child a {
    background: #c22227;
    border: 1px solid #c22227;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .pagination>li>a:hover, .pagination>li>a:focus{
    background: #c22227;
    border: 1px solid #c22227;
    color:#ffffff;
    
}
.pagination li:first-child a {
    border: 1px solid #c22227;
    border-radius: 2px;
    color: #ffffff;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .pagination>li>a:hover, .pagination>li>a:focus {
    z-index: 2;
    cursor: pointer;}
    .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 12px 20px;
    margin: 5px;
    line-height: 1.42857143;
    text-decoration: none;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 15px;
    margin: 5px;
    line-height: 1.42857143;
    color: #c22227;
    text-decoration: none;
    background-color: #fff;
    border-radius: 2px;}
    .pagination>li>a, .pagination>li>span {
    border: 1px solid #c22227;
}
.pagination li:last-child a {
    background: #c22227;
    border: 1px solid #c22227;
    border-radius: 2px;
    color: #ffffff;
}
.pagination li:last-child a {
    background: #c22227;
    border: 1px solid #c22227;
    border-radius: 2px;
    color: #ffffff;
}
.query-btn{
background-color: #18876e;
    width: 14%;
    height: 40px;
    border-color: #18876e;
    font-size: 16px;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 0;
    font-weight: bold;
}

.query-btn :hover{
background-color: #18876e;
    width: 14%;
    height: 40px;
    border-color: #18876e;
    font-size: 16px;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 0;
    font-weight: bold;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    vertical-align: sub;
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
}
.req-checkbox{
color:#d9d9d9;}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.modal.in .modal-dialog {
    transform: translate(0,0);
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
}
.modal-lg {
    width: 900px;
}
.modal-dialog {
    margin: 30px auto;
}
.modal-dialog {
    position: relative;
}
.modal-content {
    padding: 0px 0px 35px 00px;
}
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-content {
    width: 110%;
}
button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: +999;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 0;
}

button, input {
    overflow: hidden;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
button, input, select, textarea {
    font-family: inherit;
}
.modal h4 {
    color: #16162c;
    font-size: 20px;
    font-weight: normal;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 0px;
}
.modal-header .close {
    padding: 1rem 2rem;
    margin: -1rem -1rem -1rem auto;
}
.use-key-btn {
    background-color: #c22227;
    width: 100%;
    height: 40px;
    border-color: #c22227;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;
}
.use-key-btn:hover {
    background-color: #c22227;
    width: 100%;
    height: 40px;
    border-color: #c22227;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;
}
.navbar-right, .navbar-left 
{
    margin-left: 510px;
}
@media (min-width: 768px)
{.navbar-right {
    float: right!important;
    margin-right: -15px;
}}
@media only screen and (min-width: 1200px)
{nav.navbar.bootsnav ul.nav > li {
    padding: 4px 12px;
}}
@media (min-width: 768px)
{.navbar-nav>li {
    float: left;
}}
nav.navbar.bootsnav ul.nav > li > a i {
    font-size: 16px;
    color: #99abb9;
    margin-right: 9px;
}
.fa, .fa-stack {
    display: inline-block;
}
.detail-pic img {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
}
.view-jd-btn {
    background-color: #c22227;
    width: 20%;
    height: 40px;
    border-color: #c22227;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;
}
.view-jd-btn:hover {
    background-color: #c22227;
    width: 20%;
    height: 40px;
    border-color: #c22227;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;
}

.View-resume-btn
{background-color: #c22227;
    width: 20%;
    height: 40px;
    border-color: #c22227;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    color: #ffffff;}
    
.tz-gallery {
    padding: 2px;
    padding-top: 20px;
    background-color: #ffffff;
}