body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	margin: 0;
	padding: 0; {
	cursor: pointer;
}

}

/*main {
min-height: calc(85vh - 70px);
}
.footer {
height: 50px;
}*/
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
	input:-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active,
	select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus,
	select:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
	box-shadow: 0 0 0px 1000px #fff inset !important;
}
/*@supports (-ms-ime-align: auto) {
  #template2 .box {
    width: 350px;
  }
  #connectors #template2 .nav {
    overflow-x: hidden !important;
  }
}

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  #connectors #template2 .nav .box {
    width: 150px;
  }*/
.sidebar-menu .active-menu {
	background-color: green;
	border-left: 4px solid #c22227;
	font-weight: bold;
	/* -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;*/
	color: #c22227 !important;
}

.first-form {
	color: #585858;
	font-size: 16px;
}

.panel-table .panel-body {
	padding: 0;
}

.panel-table .panel-body .table-bordered {
	border-style: none;
	margin: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type {
	width: 100px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:last-of-type,
	.panel-table .panel-body .table-bordered>tbody>tr>td:last-of-type {
	border-right: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type,
	.panel-table .panel-body .table-bordered>tbody>tr>td:first-of-type {
	border-left: 0px;
}

.panel-table .panel-body .table-bordered>tbody>tr:first-of-type>td {
	border-bottom: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr:first-of-type>th {
	border-top: 0px;
}

.panel-table .panel-footer .pagination {
	margin: 0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col {
	line-height: 34px;
	height: 34px;
}

.panel-table .panel-heading .col h3 {
	line-height: 30px;
	height: 30px;
}

.panel-table .panel-body .table-bordered>tbody>tr>td {
	line-height: 34px;
}

.btn-danger {
	color: #fff;
	background-color: none;
	border-color: none;
}

.form-inline .custom-select, .form-inline .input-group {
	width: 300px;
}

#template2 .box {
	width: 350px;
}

#profile-detail select.form-control::-ms-expand {
	display: none;
}

#connectors #template2 .modal-top-nav {
	overflow-x: hidden !important;
}

#usage-content .usage-top-actions span {
	margin-bottom: 8px !important;
}

#profile-detail .container form .image-uploader .file-container .form-control-file
	{
	/*width: 100%;
    height: 150px;*/
	
}

}
.guideline-modal .modal-content .zapier-right {
	max-width: 100%;
	padding-right: 0;
	padding-left: 0;
	overflow-x: hidden;
}

.ckearfix {
	clear: both;
}

.open-modal .modal {
	z-index: 99999;
}

.navbar {
	border-bottom: 1px solid #e0e0e0;
	height: 70px;
}

.navbar .form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ced4da;
}

.navbar #show-sidebar {
	margin-left: 35px;
	margin-right: 30px;
}

.navbar .top-nav-menu .nav-item .nav-link {
	font-size: 18px;
	color: #535353;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 14px;
	padding-right: 14px;
}

.navbar .top-nav-menu .nav-item .nav-link:active {
	/*{
    font-size: 18px;
    color: #c22227;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
}*/
	
}

.navbar .top-nav-menu .nav-item .nav-link:hover {
	color: #c22227;
	font-weight: bold;
}

.lap-img {
	width: 45%;
	height: 142px;
}

.navbar .top-nav-menu .nav-item .nav-link img {
	margin-right: 6px;
}

.vedio-img {
	width: 180px;
	height: 142px;
}

.email-note {
	font-size: 14px;
}

.navbar .top-nav-menu .nav-item .dropdown-toggle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
}

.navbar .top-nav-menu .nav-item .dropdown-toggle::after {
	content: url("../img/caret-down.png");
	border: 0;
	margin-left: 10px;
}

.not-allowed {
	cursor: not-allowed;
}

.page-wrapper .sidebar-wrapper, .page-wrapper .page-content {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.pointer {
	cursor: pointer;
}

#show-sidebar, #close-sidebar {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.Resumeparse {
	color: #000000;
	font-size: 20px;
}

.Bulk-heading {
	color: #000000;
	font-size: 20px;
}

.drag-resume {
	color: #000000;
}

.sidebar-menu {
	background-color: #ffffff;
}

.Qualification-block {
	font-size: 12px;
	color: #c22227;
	padding-top: 3px;
}

.quali-text {
	font-size: 16px;
	padding-top: 2px;
	color: #000000;
}

/*.sidebar-2 {
  background-color:#ffffff;
}*/

/*.sidebar-2.active-menu{
  background-color:#c22227;
  color:#ffffff; 
}*/

/*.sidebar-menu .active-menu {
  background-color: green;
  font-weight: bold;
  color: #000 !important;*/
/*border-left: 4px solid #c22227;*/
/*-webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;*/

/*
}*/
.index-resume {
	font-size: 14px;
}

.pointer {
	cursor: pointer;
}

.filter-row {
	color: #717171;
	font-size: 20px;
	cursor: pointer;
}

.Bulk {
	color: #717171;
	font-size: 20px;
	cursor: pointer;
}

.vl {
	border-left: 1px solid gray;
	height: 35px;
}

.filter-link.active {
	color: #000000;
	font-size: 22px;
	border-bottom: 3px solid #c22227;
}

.bulk-input {
	background-color: #eee;
}

.item .item-content {
	padding-top: 24px;
	padding-bottom: 45px;
	/*  padding: 30px 35px*/
}

.image-upload {
	width: 100%;
	height: 130px;
	border: 3px dashed #ddd;
	border-radius: 3px;
	position: relative;
	text-align: center;
	background: transparent;
	color: #666;
	overflow: hidden
}

.item-wrapper form img {
	margin-bottom: 20px;
	width: auto;
	height: auto;
	max-height: 400px;
	width: auto;
	border-radius: 5px;
	overflow: hidden
}

.image-upload img {
	height: 100% !important;
	width: auto !important;
	border-radius: 0px;
	margin: 0 auto
}

.skill-description {
	font-weight: bold;
	color: #13846a;
}

.image-upload i {
	font-size: 6em;
	color: #ccc
}

.image-upload input {
	cursor: pointer;
	opacity: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0
}

.item-wrapper input {
	height: 43px;
	line-height: 43px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 20px
}
/*----------------page-wrapper----------------*/
.page-wrapper.toggled .sidebar-wrapper {
	left: 0px;
	top: 70px;
	z-index: 1;
}

/*----------------toggeled sidebar----------------*/
@media screen and (min-width: 768px) {
	.page-wrapper.toggled .page-content {
		padding-left: 240px;
	}
	main.page-content .container-fluid {
		padding-left: 30px;
	}
}

/*----------------show sidebar button----------------*/
.page-wrapper.toggled #show-sidebar {
	left: -40px;
}

/*----------------sidebar-wrapper----------------*/
.sidebar-wrapper {
	width: 240px;
	height: 100%;
	max-height: 100%;
	position: fixed;
	overflow: auto;
	top: 70px;
	left: -300px;
}

.rc-logo {
	width: 75px;
	height: 55px;
}

.support-mail {
	color: #c22227;
	font-weight: bold;
}

.plan-view {
	background-color: #ffffff;
	font-size: 14px;
}

.plans-row {
	background-color: #ffffff;
}

.mail-div {
	font-size: 12px;
}

.plan-img {
	width: 40px;
	height: 40px;
}

.step-d {
	font-size: 14px;
	padding-left: 170px;
	color: #908e8e;
}

.sidebar-wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	/*margin-right: 22px;*/
}

.block-img {
	width: 24px;
	height: 24px;
}

.icon-size {
	width: 28px;
	height: 28px;
}

.sidebar-wrapper .sidebar-menu ul li a {
	display: inline-block;
	border-bottom: 1px solid #d9d9d9;
	width: 100%;
	text-decoration: none;
	position: relative;
	padding: 8px 30px 8px 20px;
	font-size: 18px !important;
	padding: 5px;
	background-color: #ffffff;
}

.MoreDescription {
	color: #c22227;
	background-color: transparent;
	border: none;
}

.MoreDescription:focus {
	color: #c22227;
	background-color: transparent;
	border-color: white;
}

.MoreDescription:checked {
	color: #c22227;
	background-color: transparent;
	border: none;
}

.sidebar-wrapper .sidebar-menu ul li a:hover {
	background-color: #c22227;
	font-weight: bold;
	color: #ffffff !important;
	/*-webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;*/
	/*border-left: 4px solid #c22227;*/
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
	display: inline-block;
	-webkit-animation: swing ease-in-out 0.5s 1 alternate;
	animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
	content: url("../images/caret-down.png");
	position: relative;
	/*or absolute*/
	z-index: 100000;
	margin-left: 17px;
}

.sidebar-wrapper .sidebar-menu ul {
	/*margin-left: 20px;*/
	
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
	font-size: 16px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label, .sidebar-wrapper .sidebar-menu ul li a span.badge
	{
	float: right;
	margin-top: 4px;
	margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
	display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
	content: url("../images/caret-top.png");
}

.sidebar-wrapper .sidebar-menu .top-nav-menu-mobile {
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid #cbe5a9;
	border-bottom: 1px solid #cbe5a9;
	margin-right: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #c22227;
	border-color: #c22227;
}

.page-link {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #c22227;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.sidebar-wrapper .sidebar-menu .top-nav-menu-mobile a {
	margin-right: 0 !important;
}

.active-pink-2 input.form-control[type=text]:focus:not ([readonly] ) {
	border-bottom: 1px solid #c22227;
	box-shadow: 0 1px 0 0 #f48fb1;
}

.sidebar-wrapper .sidebar-menu .logout-left-nav {
	padding-left: 25px;
	color: #616161;
}

/*-----------------------------chiller-theme-------------------------------------------------*/
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
	color: #535353;
	font-size: 18px;
	padding: 16px;
	padding-left: 25px;
	margin-right: 22px;
	padding-right: 10px;
}

@media screen and (max-width: 1200px) {
	#title_message {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}
}

main.page-content {
	padding-top: 50px;
	max-width: 1510px;
}

/*  bhoechie tab */
div.bhoechie-tab-container {
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	-moz-border-radius: 4px;
	border: 1px solid #ddd;
	margin-top: 20px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity = 97);
}

div.bhoechie-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon, div.bhoechie-tab-menu div.list-group>a .fa
	{
	color: #c22227;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	-moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
	div.bhoechie-tab-menu div.list-group>a.active .fa {
	background-color: #c22227;
	background-image: #c22227;
	color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #c22227;
}

div.bhoechie-tab-content {
	background-color: #ffffff;
	/* border: 1px solid #eeeeee; */
	padding-left: 20px;
	padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not (.active ){
	display: none;
}

main.page-content #myAccount .subs-detail h6 {
	font-size: 14px;
	opacity: .8;
	font-weight: normal;
}

main.page-content #myAccount .subs-detail h4 {
	font-size: 18px;
	margin-bottom: 28px;
	font-weight: 400;
}

main.page-content #myAccount .subs-detail a {
	font-size: 14px;
	text-decoration: underline;
	color: #000;
}

main.page-content #myAccount .next-invoice {
	background: #f1f1f1;
	padding: 28px 20px 28px 40px;
	border-radius: 6px;
}

main.page-content #myAccount .next-invoice h5 {
	margin-bottom: 32px;
	margin-left: 15px;
}

main.page-content #myAccount .next-invoice h6 {
	font-size: 14px;
	opacity: .8;
	font-weight: normal;
}

main.page-content #myAccount .next-invoice a {
	opacity: .8;
	margin-top: 50px;
	display: inline-block;
}

main.page-content #myAccount .next-invoice h4 {
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 400;
}

main.page-content #myAccount .next-invoice .btn {
	background-color: #8bc53d;
	border: 1px solid #8bc53d;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
}

main.page-content #myAccount .next-invoice .btn:hover {
	-webkit-box-shadow: 0 0 10px #8bc53d;
	box-shadow: 0 0 10px #8bc53d;
}

main.page-content #myAccount .extracted-headings {
	margin-bottom: 12px;
}

main.page-content #myAccount .extracted-headings span {
	font-size: 14px;
	opacity: .8;
	color: #000;
}

main.page-content #myAccount .extracted-apps {
	border: 2px solid #eee;
	border-radius: 6px;
	padding: 10px 20px;
	margin-bottom: 20px;
	color: #000;
	font-size: 18px;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	background-color: #eaeaea;
}

.scrollbar::-webkit-scrollbar {
	width: 5px;
	background-color: #eaeaea;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #c3c0c0;
}

#profile-detail {
	/*height: 100vh;*/
	
}

#profile-detail .container {
	max-width: 920px;
}

.form-fill {
	border-radius: 0;
	border: 0;
	border-bottom: 2px solid #d9d9d9;
	resize: none;
	padding-left: 0;
	padding-right: 0;
	font-size: 24px;
	background-color: #f5f6f8;
}

}
#profile-detail .container form h3 {
	margin-bottom: 52px;
	font-weight: bold;
	font-size: 24px;
}

#profile-detail .container form h3 span {
	font-size: 16px;
}

#profile-detail .container form .image-uploader label {
	margin-bottom: 16px !important;
}

#profile-detail .container form .image-uploader .file-container {
	height: 150px;
	width: 150px;
	border: 2px dashed #cccccc;
	position: relative;
}

#profile-detail .container form .image-uploader .file-container p {
	color: #000;
	text-align: center;
	padding: 15px;
	padding-top: 35px;
}

#profile-detail .container form .image-uploader .file-container p span {
	color: #8bc53d;
	font-weight: bold;
}

/* width */
.rawjson::-webkit-scrollbar {
	width: 4px;
}

/* Track */
.rawjson::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
.rawjson::-webkit-scrollbar-thumb {
	background: #c22227;
	border-radius: 10px;
}

/* Handle on hover */
.rawjson::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

.Detail-button {
	background-color: #c22227;
	width: 76%;
	height: 40px;
	border-color: #c22227;
	font-size: 14px;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
}

.profile-button {
	background-color: #c22227;
	width: 100%;
	height: 40px;
	border-color: #c22227;
	font-size: 18px;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
	font-weight: bold;
}

#profile-detail .container form .image-uploader .file-container .form-control-file
	{opacity /* width */
	/*::-webkit-scrollbar {
 width: 4px;
}*/
	/* Track */ : :-webkit-scrollbar-track {
 box-shadow : inset005pxgrey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #c22227;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

:
 
0;
position
:
 
absolute
;

  
top
:
 
0;
bottom
:
 
0;
left
:
 
0;
right
:
 
0;
}
#profile-detail .container form .image-uploader .file-text {
	color: #8d8d8d;
	font-size: 14px;
	width: 200px;
	margin-left: 20px;
}

#profile-detail .container form .form-group {
	margin-bottom: 40px;
}

#profile-detail .container form .form-group label {
	margin-bottom: 0;
	color: #878789;
	font-size: 16px;
	font-weight: bold;
}

#profile-detail .container form .form-group input {
	color: #000;
}

#profile-detail .container form .form-group .form-control {
	border-radius: 0;
	border: 0;
	border-bottom: 2px solid #d9d9d9;
	resize: none;
	padding-left: 0;
	padding-right: 0;
	font-size: 18px;
	background-color: #f5f6f8;
}

#Test-test1 {
	position: fixed;
	width: 50%;
	float: left;
	height: 100%;
	background-color: #282828;
	z-index: 1010101010
}

#col-2 {
	position: fixed;
	width: 50%;
	float: right;
	height: 100%;
	background-color: #0080ff;
	z-index: 1010101010
}

#profile-detail .container form .form-group .form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#profile-detail .container form .form-group .form-control::-webkit-input-placeholder
	{
	font-size: 18px;
	color: #000;
	opacity: .3;
}

#profile-detail .container form .form-group .form-control:-ms-input-placeholder
	{
	font-size: 18px;
	color: #000;
	opacity: .3;
}

#profile-detail .container form .form-group .form-control::-ms-input-placeholder
	{
	font-size: 18px;
	color: #000;
	opacity: .3;
}

#profile-detail .container form .form-group .form-control::placeholder {
	font-size: 18px;
	color: #000;
	opacity: .3;
}

.rectangle {
	width: 105px;
	height: 3px;
}

#profile-detail .container form .form-group .btn {
	background-color: #c22227;
	color: #fff;
	height: 52px;
	font-size: 18px;
	width: 100%;
}

#profile-detail .container form .form-group .btn:hover {
	-webkit-box-shadow: 0 0 10px #c22227;
	box-shadow: 0 0 10px #c22227;
}

#email-notification .check-container {
	display: block;
	position: relative;
	padding-left: 57px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#email-notification .check-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

#email-notification .check-container .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #8bc53d;
	width: 37px;
	height: 37px;
	padding: 10px;
	border-radius: .25rem;
}

#email-notification .check-container .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

#email-notification .check-container input:checked ~ .checkmark:after {
	display: block;
}

#email-notification .check-container .checkmark:after {
	left: 5.49px;
	top: 5px;
	width: 25px;
	height: 25px;
	background-color: #8bc53d;
	border-radius: .25rem;
}

#email-notification h3 {
	margin-bottom: 42px;
	font-size: 24px;
}

#email-notification h3 span {
	font-size: 16px;
}

#email-notification .notification-box {
	border: 1px solid #dcdcdc;
	margin-bottom: 30px;
	padding: 27px 22px;
	border-radius: 4px;
}

#email-notification .notification-box label {
	font-size: 24px;
}

#email-notification .btn {
	background: #8bc53d;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

#email-notification .btn:hover {
	-webkit-box-shadow: 0 0 10px #8bc53d;
	box-shadow: 0 0 10px #8bc53d;
}

#error404 {
	height: 100vh;
}

#error404 .error-msg {
	margin-left: 40px;
}

#error404 .error-msg h4 {
	font-size: 72px;
	font-weight: bold;
	margin-bottom: 0;
}

#error404 .error-msg p {
	font-size: 36px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 32px;
}

#error404 .error-msg .btn {
	background: #8bc53d;
	color: #fff;
}

#error404 .error-msg .btn:hover {
	-webkit-box-shadow: 0 0 10px #8bc53d;
	box-shadow: 0 0 10px #8bc53d;
}

select.form-control {
	background-image: url(../img/caret-down-dark.png);
	background-position: calc(100% - 15px) 14px, calc(100% - 15px) 14px,
		100% 0;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #535353;
}

input:-webkit-autofill {
	-webkit-animation-delay: 1s;
	/* Safari support - any positive time runs instantly */
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

@
-webkit-keyframes autofill { 0%, 100% {
	color: #000;
	background: transparent;
}

}
pre {
	display: block;
	font-size: 102.5%;
	color: #212529;
}

.text-block {
	font-size: 16px;
}

.hrTag {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2px;
	border: 0;
	border-top: 1px solid #c22227;
	margin: 1em 0;
	padding: 0;
}

.set-Box {
	background-color: #ffffff;
}

.top-boxes {
	border-radius: 4px;
	height: 59px;
}

li {
	cursor: pointer;
}

.block-head {
	font-size: 20px;
	font-weight: bold;
	color: #c22227;
}

.block-head-img {
	font-size: 20px;
	font-weight: bold;
}

.upload-r {
	font-weight: bold;
	color: #585858;
}

.result-heading {
	font-weight: bold;
	color: #c22227;
	font-size: 24px;
}
/* Style the tab */
.tab {
	float: left;
	background-color: #f1f1f1;
	width: 30%;
	height: 300px;
}

.json-box {
	width: 500px;
	height: 600px;
	background-color: #fff;
	margin-bottom: 45px;
	overflow: auto;
}

.ch-box {
	width: 22px;
	height: 22px;
}

.pass_show {
	position: relative
}

.pass_show .ptxt {
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 1;
	color: #717171;
	margin-top: -10px;
	cursor: pointer;
	transition: .3s ease all;
	background-color: #e6e5e5;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
}

.pass_show .ptxt:hover {
	color: #333333;
}
/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent /*{
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
*/ 

.lable-form {
	font-size: 16px;
	color: #a6a6a6;
}

.jd-headings {
	color: #c22227;
}

.jd-text {
	font-size: 14px;
}

.JDbox {
	color: #c22227;
}

.list-style {
	list-style-type: none;
}

.res-box {
	width: 200px;
	height: 100px;
	background-color: #fff;
	overflow: auto;
}

#connectors #template2 .nav .box:hover::after {
	display: none;
}

.code-link {
	color: black;
}

.code-box {
	background-color: #fff;
	margin-top: 15px;
	margin-left: 22px;
	margin-right: 32px;
	margin-bottom: 25px;
	padding-bottom: 30px;
	/*border-left: 5px:solid gray;*/
}

.code-img {
	width: 45px;
	height: 50px;
}

.Bulk-code-box {
	background-color: #fff;
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 32px;
	margin-bottom: 25px;
	padding-bottom: 30px;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 105%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #c22227;
	border-color: #c22227;
}
/*.pill{
  color:#c22227; 
  text-decoration: none;
}*/
a {
	color: #c22227;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #c22227;
	text-decoration: none;
}

.nav-pill {
	color: #c22227;
	background-color: #transparent;
	border-color: #fff #fff #e0e0e0;
}

.active .nav-pill {
	color: #c22227;
	background-color: #fff;
	border-color: #fff #fff #e0e0e0;
}

.list-group-item {
	position: relative;
	display: block;
	font-size: 18px;
	padding: .75rem 1.25rem;
	background-color: #f3f3f3;
	border: 1px solid rgba(0, 0, 0, .125);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.chat-icon {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #c22227;
	position: fixed;
	right: 32px;
	bottom: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
}

.succ-fail-modal {
	max-width: 390px;
	min-height: auto;
	margin: auto;
	height: 100vh;
}

.left-frame {
	position: relative;
}

.left-frame iframe {
	border: 1px solid #ccc;
	padding: 20px;
}

.left-frame .iframe-embed {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
}

.left-frame .show-hide-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	margin: auto;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	border: 1px solid #b4b4b4;
	cursor: pointer;
	background-color: #fff;
	text-align: center;
	z-index: 1;
}

.left-frame .show-hide-toggle::after {
	content: ">";
}

#exampleModalNested {
	z-index: 99999;
	background: #fff;
}

#exampleModalNested .modal-dialog {
	max-width: 100%;
	margin: 0;
}

#exampleModalNested .modal-dialog .close-tab {
	border-bottom-left-radius: 20px;
	background: #ff6465;
	opacity: 1;
	height: 44px;
	width: auto;
	padding-left: 15px;
	padding-right: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-shadow: none;
	font-weight: 100;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

#exampleModalNested .modal-dialog .close-tab a {
	margin-right: 10px;
}

#exampleModalNested .modal-dialog .breadcrumb {
	background-color: transparent;
	color: #000;
}

#exampleModalNested .modal-dialog .breadcrumb .close-tab {
	background-color: transparent;
	height: auto;
	padding: 0;
	padding-left: .5rem;
}

#exampleModalNested .modal-dialog .breadcrumb .close-tab a {
	margin-right: 0;
}

#exampleModalNested .modal-dialog .breadcrumb a {
	color: #545454;
	text-decoration: underline;
}

#exampleModalNested .modal-dialog .modal-content {
	border-radius: 0;
	height: 100%;
	position: absolute;
	background: #fff;
	border: 0;
}

#exampleModalNested .modal-dialog .modal-content .modal-close {
	position: fixed;
	top: 0;
	background-color: #fff;
}

#exampleModalNested .modal-dialog .modal-content .modal-body {
	margin-top: 75px;
}

#exampleModalNested .modal-dialog .modal-content .zapier {
	-webkit-box-shadow: 0 0 10px #f7f7f7;
	box-shadow: 0 0 10px #f7f7f7;
	position: relative;
}

.loading-modal {
	max-width: 400px;
}

.loading-modal .modal-content {
	background: transparent;
	border: 0;
}

.loading-modal .modal-content .loading-logo {
	width: 65px;
	height: 65px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 14px;
	-webkit-animation: breathing 7s ease-out infinite normal;
	animation: breathing 7s ease-out infinite normal;
}

.loading-modal .modal-content .loading-logo img {
	margin-top: 2px;
}

.loading-modal .modal-content .progress {
	height: 40px;
	border-radius: 50px;
	background: transparent;
	border: 2px solid #8bc53d;
}

.loading-modal .modal-content .progress .progress-bar {
	background: #8bc53d;
	border-radius: 50px;
}

.loading-modal .modal-content p.loading-dots {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-top: 12px;
}

.loading-modal .modal-content p.loading-dots::after {
	content: ' .';
	-webkit-animation: dots 1s steps(5, end) infinite;
	animation: dots 1s steps(5, end) infinite;
}

.error-modal .special-modal {
	border-top: 6px solid #f7454a;
	background: url(../images/error-modal-bg.png) no-repeat top center #fff;
}

.error-modal .special-modal .modal-circle-top {
	background-color: #f7454a;
}

.error-modal .special-modal .modal-circle-top::after {
	content: "";
	background: url(../images/error-cross.png) no-repeat center center;
}

.error-modal .special-modal .modal-body .btn {
	background-color: #f7454a;
}

.special-modal {
	padding: 20px;
	max-width: 390px;
	position: relative;
	border-top: 6px solid #6dbd3f;
	border-radius: 10px;
	background: url(../images/success-modal-bg.png) no-repeat top center
		#fff;
}

.special-modal .close {
	position: absolute;
	right: -40px;
	color: #fff;
	opacity: 1;
	font-weight: 100;
	font-size: 60px;
	padding: 0;
	top: -18px;
}

.special-modal .modal-circle-top {
	position: absolute;
	height: 80px;
	top: -40px;
	width: 80px;
	border-radius: 50%;
	background-color: #6dbd3f;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.special-modal .modal-circle-top::after {
	content: "";
	background: url(../images/success-check.png) no-repeat center center;
	height: 34px;
	width: 34px;
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.special-modal .modal-body h3 {
	font-size: 36px;
	font-weight: 400;
	margin-top: 20px;
}

.special-modal .modal-body p {
	color: #000;
	opacity: .8;
}

.special-modal .modal-body .btn {
	background: #6dbd3f;
	color: #fff;
	margin-top: 50px;
	font-size: 18px;
	font-weight: bold;
}

.special-offer-modal {
	max-width: 546px;
}

.special-offer-modal .special-modal {
	max-width: 546px;
	background: #fff;
	border-top: 0;
}

.special-offer-modal .special-modal h3 {
	font-size: 48px;
	font-weight: bold;
	line-height: 60px;
}

.special-offer-modal .special-modal h3 span {
	font-size: 30px;
	display: block;
}

.special-offer-modal .special-modal .btn {
	background: #8bc53d;
	font-size: 24px;
}

.special-offer-modal .special-modal a {
	color: #8bc53d;
	font-weight: 500;
	margin-top: 30px;
	display: block;
	text-decoration: underline;
}

.special-offer-modal .special-modal .close {
	top: -10px;
}

#more {
	display: none;
}

footer {
	border-top: 1px solid #e5e5e5;
	margin-top: 80px;
}

footer .col {
	padding: 27px 10px;
	color: #000;
	opacity: .8;
	font-size: 18px;
}
/*# sourceMappingURL=main.css.map */

/*Inhouse CSS*/
/*Feedback Form cancel Button*/
.cancel {
	border: 1px solid #8bc53d;
	color: #8bc53d;
	height: 62px;
	font-size: 18px;
	font-weight: bold;
}

.cancel:hover {
	background-color: #8bc53d;
	color: white;
	-webkit-box-shadow: 0 0 10px #8bc53d;
	box-shadow: 0 0 10px #8bc53d;
}

#profile-detail .container form h3 {
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 30px;
}

.form-control:focus {
	color: #000000;
}

.shadow {
	-webkit-box-shadow: 0;
	box-shadow: 0;
	border: 1px solid #fff;
}

/*For search ATS Page*/
.btn-outline-dark {
	color: #343a40;
	border-color: #bdbdbe;
}

.images {
	height: 50px;
	width: 65px;
	padding-right: 15px;
}

.image {
	height: 55px;
	width: 60px;
	padding-left: 15px;
}

.ima {
	height: 55px;
	width: 85px;
	padding-left: 15px;
	padding-right: 15px;
}

.template-content {
	font-size: 35px;
	color: #8fc742;
}

/*CSS for search-ats.html dated- 04/22/2020*/
.row-template {
	padding: 10px 20px;
	color: #000;
	font-size: 18px;
}

.boxdesign {
	height: 35px;
	width: 35px;
	display: inline-block;
	border: 1px solid #e1e5e8;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-left: 0px;
}

.span-hash {
	border: 0;
	width: 15px;
	color: #c0c8ce;
	margin-left: 10px;
}

.zap-info {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	"
}

#connectors .pagination .active .page-link {
	background: #8bc53d;
	border: 1px solid #8bc53d;
	color: #fff;
}

#connectors .pagination .page-link {
	color: #888888;
	border: 1px solid transparent;
}

.onclick:hover {
	background-color: #8bc53d;
	border: 1px solid #8bc53d;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
}

.tz:hover {
	border-radius: 4px;
	border: none;
	transition: 0.15s ease-in-out;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
	-ms-transform: scale(1.05); /* IE 9 */
	-webkit-transform: scale(1.05); /* Safari 3-8 */
	transform: scale(1.05);
}

.sort {
	background-color: #f2f2f2;
}

/*Above is CSS for search-ats.html dated- 04/22/2020*/

/*CSS for vedio tutprial page */
.gallery-container h1 {
	text-align: center;
	margin-top: 70px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #58595a;
}

.gallery-container p.page-description {
	text-align: center;
	margin: 30px auto;
	font-size: 18px;
	color: #85878c;
}

.tz-gallery {
	padding: 2px;
	padding-top: 20px;
}

.tz-gallery .thumbnail {
	padding: 0;
	margin-bottom: 30px;
	background-color: #fff;
	border-radius: 4px;
	border: none;
	transition: 0.15s ease-in-out;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .thumbnail:hover {
	transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
	border-radius: 4px 4px 0 0;
}

.tz-gallery .caption {
	padding: 26px 30px;
	text-align: left;
}

.tz-gallery .caption h3 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
}

.tz-gallery .caption p {
	font-size: 12px;
	color: #7b7d7d;
	margin: 0;
}

.baguetteBox-button {
	background-color: transparent !important;
}

.iframe {
	width: 220px;
	height: 150px;
}

/*expand page*/
main.page-content .expand-tabs {
	margin-bottom: 50px;
}

main.page-content .expand-tabs .nav-link {
	font-size: 18px;
	color: #7f7f7f;
	font-weight: 500;
}

main.page-content .expand-tabs .nav-link:hover {
	-webkit-box-shadow: 0;
	box-shadow: 0;
	border: 1px solid #fff;
}

main.page-content .expand-tabs .nav-item.show .nav-link, main.page-content .expand-tabs .nav-link.active
	{
	border-color: transparent;
	border-bottom: 2px solid #8bc53d;
	position: relative;
	color: #8bc53d;
}

main.page-content .expand-tabs .nav-item.show .nav-link::after, main.page-content .expand-tabs .nav-link.active::after
	{
	content: "";
	background: url(../images/active-dashboard.png) no-repeat;
	width: 13px;
	height: 6px;
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: auto;
}

.vedio-pause {
	width: 550px;
	height: 300px;
	background-color: white;
	padding: 20px;
}

/*CSS For search-expand box*/
.text-box {
	background-color: #fbfbfa;
}

.box-heading {
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
}

.box-inf0 {
	font-size: 16px;
	padding-bottom: 10px;
}

.temp {
	color: #007bff;
	text-decoration: none;
	background-color: #ebebeb;
}

/*css for Feature-plan-page*/
.padd-section {
	padding-top: 30px;
	padding-bottom: 30px
}

.section-title {
	margin-bottom: 0px
}

#pricing .block-pricing {
	background: #fff;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
	position: relative;
	width: 100%
}

#pricing .block-pricing .table {
	margin-bottom: 0;
	padding: 10px 10px;
	max-width: 100%;
	width: 100%
}

#pricing .block-pricing .table h4 {
	padding-bottom: 20px
}

h4 {
	color: #999999;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 2
}

#pricing .block-pricing h2 {
	margin-bottom: 30px
}

h2 {
	color: #999999;
	font-weight: 450
}

#pricing .block-pricing ul {
	list-style: outside none none;
	margin: 5px auto;
	max-width: 140px;
	padding: 0
}

.container .block-pricing ul li {
	border-bottom: 1px solid rgba(153, 153, 153, 0.3);
	padding: 3px 0;
	text-align: center
}

.border {
	border-bottom: 1px solid rgba(153, 153, 153, 0.3);
	padding: 3px 0;
	text-align: center
}

#pricing .block-pricing .table .table_btn a {
	background: #ff7361;
	color: #fff;
	margin: 0;
	display: inline-block
}

.btn-outline-secondary {
	color: #9fa1a3;
	border-color: #bdbdbd;
}

.offer-div {
	border-bottom: 1px solid #d9d9d9;
}

.plan-name {
	color: #747474;
}

.plan-intro {
	font-size: 12px;
	font-weight: bold;
	color: #888888;
}

.price-box {
	border-bottom: 1px solid #d9d9d9;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dollar {
	font-size: 20px;
	font-weight: bold;
	color: #676767;
}

.dollar-detail {
	font-size: 12px;
	font-weight: bold;
	color: #888888;
	padding-bottom: 30px;
}

.zoom:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1);
}

#applyBtn {
	background-color: #8bc53d;
	border-color: #8bc53d;
	color: white;
	height: 37px;
	width: 90px;
}

#applyBtn:hover {
	color: #fff;
	background-color: #8bc53d;
	border-color: #8bc53d;
	color: white;
}

.terms {
	font-size: 12px;
}

.agreement {
	color: gray;
	font-weight: bold;
	border-bottom: 1px solid gray;
}

.box-border {
	border-color: #c22227;
}

.head-border {
	border-top: 1px solid #8fc742;
}

.social-info {
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
}

.info-detail {
	font-size: 12px;
	color: grey;
}

.social-box {
	border-top: 1px solid #c22227;
}

#switch1 {
	color: #c22227;
	background-color: #c22227;
}

.social-box-right {
	border-top: 1px solid #c22227;
	border-left: 1px solid #c22227;
}

.cross-img {
	width: 30px;
	height: 25px;
}

.top-cross-img {
	margin-left: 135px;
}

.register:hover {
	background-color: #8bc53d;
	border-color: #8bc53d;
	color: white;
}

.block-pricing:hover {
	border: 1px solid #8bc53d;
	border-top: 10px solid #8bc53d;
	border-radius: 10px;
}

.marketplace-info {
	font-size: 14px;
	color: grey;
}
/*css for Affiliate page*/
.link-bar {
	border: 0;
	border-bottom: 1px solid #d9d9d9;
	font-size: 16px;
	color: #535353;
}

.link-bar-2 {
	border: 0;
	border-bottom: 1px solid #d9d9d9;
	font-size: 16px;
	color: #535353;
}

.footer-row {
	margin-left: 32px;
}

a>span.active {
	color: #c22227;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.bracket {
	font-size: 20px;
	color: #717171;
}
/* Popup box BEGIN */
.hover_bkgr_fricc {
	background: rgba(0, 0, 0, .4);
	cursor: pointer;
	display: none;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.hover_bkgr_fricc .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.hover_bkgr_fricc>div {
	background-color: #fff;
	box-shadow: 10px 10px 60px #555;
	display: inline-block;
	height: auto;
	max-width: 551px;
	min-height: 100px;
	vertical-align: middle;
	width: 60%;
	position: relative;
	border-radius: 8px;
	padding: 15px 5%;
}

.popupCloseButton {
	background-color: #fff;
	border: 3px solid #999;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 25px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
}

.popupCloseButton:hover {
	background-color: #ccc;
}

.trigger_popup_fricc {
	cursor: pointer;
	font-size: 20px;
	margin: 20px;
	display: inline-block;
	font-weight: bold;
}
/* Popup box BEGIN */
.top-heading:hover {
	color: #c22227;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.copy-btn {
	color: #8bc53d;
	font-weight: bold;
}

.logs {
	font-size: 18px;
	font-weight: bold;
}

#manage-Btn {
	background-color: #8bc53d;
	border-color: #8bc53d;
	color: white;
	height: 37px;
	width: 100%;
	margin-top: 20px;
}

#manage-Btn:hover {
	color: #fff;
	background-color: #8bc53d;
	border-color: #8bc53d;
	color: white;
}

.text-align {
	text-align: left;
}

.top-heading {
	color: #18876e;
}

/*CSS for affiliate page ends here*/

/*CSS for Vedio-pop-up page starts here*/
.iframe {
	width: 100%;
	height: 150px;
}

.popup-iframe {
	width: 100%;
	height: 310px;
}

.bs-example {
	margin: 20px;
}

.modal-content iframe {
	margin: 0 auto;
	display: block;
}

#vedio-pause {
	pointer-events: none;
}
/*CSS for Vedio-pop-up page ends here*/

/*CSS for Invoice page*/
.invoice {
	background: #fff;
	padding: 20px
}

.invoice-company {
	font-size: 20px
}

.invoice-header {
	margin: 0 -20px;
	background: #f0f3f4;
	padding: 20px
}

.invoice-date, .invoice-from, .invoice-to {
	display: table-cell;
	width: 1%
}

.invoice-from, .invoice-to {
	padding-right: 20px
}

.invoice-date .date, .invoice-from strong, .invoice-to strong {
	font-size: 16px;
	font-weight: 600
}

.invoice-date {
	text-align: right;
	padding-left: 20px
}

.invoice-price {
	background: #f0f3f4;
	display: table;
	width: 100%
}

.invoice-price .invoice-price-left, .invoice-price .invoice-price-right
	{
	display: table-cell;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	width: 75%;
	position: relative;
	vertical-align: middle
}

.invoice-price .invoice-price-left .sub-price {
	display: table-cell;
	vertical-align: middle;
	padding: 0 20px
}

.invoice-price small {
	font-size: 12px;
	font-weight: 400;
	display: block
}

.invoice-price .invoice-price-row {
	display: table;
	float: left
}

.invoice-price .invoice-price-right {
	width: 25%;
	background: #8bc53d;
	color: #fff;
	font-size: 28px;
	text-align: right;
	vertical-align: bottom;
	font-weight: 300
}

.invoice-price .invoice-price-right small {
	display: block;
	opacity: .6;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px
}

.invoice-footer {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	font-size: 10px
}

.invoice-note {
	color: #999;
	margin-top: 80px;
	font-size: 85%
}

.invoice>div:not (.invoice-footer ) {
	margin-bottom: 20px
}

.btn.btn-white, .btn.btn-white.disabled, .btn.btn-white.disabled:focus,
	.btn.btn-white.disabled:hover, .btn.btn-white[disabled], .btn.btn-white[disabled]:focus,
	.btn.btn-white[disabled]:hover {
	color: #2d353c;
	background: #fff;
	border-color: #d9dfe3;
}

.invoice-icon {
	color: #8bc53d;
}

/*CSS for invoice page*/

/*css for zap not found page starts here 15 may 2020*/
.found {
	color: #999999;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 2;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 0;
}

.b {
	font-size: 25px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 32px;
	line-height: 1.5;
}

.btn-home {
	background: #8bc53d;
	color: #fff;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
}
/*css for zap not found page ends here*/
/*new css for B2B starts from here*/
.header {
	width: 100%;
	height: 80px;
	background-color: #ffffff;
}

.logo-img {
	height: 55px;
    width: 140px;
    padding-left: 38px;
    margin-top: 19px;
    margin-bottom: 15px;
}

.intro {
	color: #c22227;
	font-size: 35px;
	padding-left: 30px;
	padding-top: 30px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 0.1;
}

.caption {
	color: #555555;
	font-size: 16px;
	padding-left: 30px;
}
/*css for crousel*/

/*@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

 On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
*/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 15; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.sign-up {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 25%;
}

.error-cross {
	width: 65px;
	height: 65px;
}

.success-img {
	width: 65px;
	height: 65px;
}
/* welcome page starts*/
/* welcome page starts*/

/*css for veryfication email button starts here*/
.ok-button {
	background-color: #c22227;
	width: 50%;
	height: 40px;
	border-color: #c22227;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
	color: #ffffff;
}

.us {
	color: #c22227;
	font-weight: bold;
}
/*css for veryfication email button ends here*/

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.cancel-button {
	border: 1px solid;
	color: #c22227;
	height: 37px;
	width: 120px;
	font-size: 18px;
	font-weight: bold;
}

.cancel-button:hover {
	background-color: #c22227;
	color: white;
	-webkit-box-shadow: 0 0 10px #8bc53d;
	box-shadow: 0 0 10px #8bc53d;
}

.popup-submit {
	background-color: #c22227;
	border-color: #c22227;
	color: white;
	height: 37px;
	width: 120px;
	font-size: 18px;
	font-weight: bold;
}

.popup-submit:hover {
	background-color: #c22227;
	color: white;
	-webkit-box-shadow: 0 0 10px #c22227;
	box-shadow: 0 0 10px #c22227;
}
/*login b*/
.login-b {
	height: 95%;
	width: 80%;
	background-color: #ffffff;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 10px;
	padding-bottom: 40px;
}

.login-head {
	font-weight: bold;
	font-size: 20px;
}

.login-form {
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 35px;
}

.input-box {
	border-radius: 0;
	border: 0;
	color: #121111;
	border-bottom: 2px solid #d9d9d9;
	resize: none;
	padding-left: 0;
	padding-right: 0;
	font-size: 14px;
	width: 100%;
}

.input-form {
	padding-top: 20px;
}

.login-button {
	background-color: #c22227;
	width: 100%;
	padding-top: 10px;
    padding-bottom: 30px;
	border-color: #c22227;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
	color: #ffffff;
}

.list-group-item:first-child {
	border-top-left-radius: none;
	border-top-right-radius: none;
}

.trial-button {
	background-color: #c22227;
	width: 30%;
	height: 40px;
	border-color: #c22227;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
	color: #ffffff;
}

.docName {
	font-size: 12px;
	color: gray;
	padding-top: 3px;
}

.resume-icon {
	display: inline-block;
	position: absolute;
	font-size: 20px;
}

.sem-button {
	background-color: #c22227;
	width: 100%;
	height: 40px;
	border: 0.5em solid #c22227;
	text-transform: uppercase;
	margin-top: 157px;
	border-color: #c22227;
	font-size: 16px;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
	font-weight: bold;
}

.sem-button-new {
	background-color: #c22227;
	width: 100%;
	height: 40px;
	margin-top: 42px;
	border-color: #c22227;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
	font-weight: bold;
	border: 0.5em solid #c22227;
	text-align: center;
}

.sem-height {
	padding-top: 110px;
}

.Get-detail-btn {
	background-color: #c22227;
	width: 100%;
	height: 40px;
	border-color: #c22227;
	font-size: 18px;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
	font-weight: bold;
}

.add-new-btn {
	background-color: #c22227;
	width: 12%;
	text-transform: uppercase;
	height: 40px;
	border-color: #c22227;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
	color: #ffffff;
}

.add-new-btn:hover {
	background-color: #c22227;
	width: 12%;
	height: 40px;
	border-color: #c22227;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
	color: #ffffff;
}

.Get-detail-btn:hover {
	background-color: #b11f24;
	width: 100%;
	height: 40px;
	border-color: #b11f24;
	font-size: 18px;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
	font-weight: bold;
}

.Bulk-button {
	background-color: #c22227;
	width: 75%;
	height: 42px;
	text-transform: uppercase;
	margin-top: 51px;
	border-color: #c22227;
	font-size: 16px;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
	font-weight: bold;
	border: 0.5em solid #c22227;
}

.email-button {
	background-color: #c22227;
	width: 75%;
	height: 40px;
	margin-top: 30px;
	border-color: #c22227;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
	font-weight: bold;
	border: 0.5em solid #c22227;
}

.email-Cancel-button {
	background-color: #c22227;
	width: 75%;
	height: 40px;
	margin-top: 33px;
	border-color: #c22227;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 4px;
	color: #ffffff;
	padding-left: 0;
	font-weight: bold;
	border: 0.5em solid #c22227;
}

.webhook-icon {
	display: inline-block;
	position: absolute;
	font-size: 15px;
	padding-top: 8px;
	padding-left: 4px;
}

.email-webhook-icon {
	display: inline-block;
	position: absolute;
	font-size: 15px;
	padding-top: 0px;
	padding-left: 4px;
}

.ontology-btn {
	color: #333;
	background-color: #fdf8f8;
	border: 0.5em solid #c22227;
	border-color: #ccc;
	margin-top: 5px;
}

.fa-icon {
	margin-top: 10px;
}

.add-detail-btn {
	padding-top: 102px;
}

.btn-success {
	color: #fff;
	background-color: #52c20e;
	border-color: #52c20e;
}

.plan-btn {
	background-color: #ffffff;
	width: 40%;
	height: 40px;
	border-color: #c22227;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
	color: #c22227;
}

.parsing-box {
	background-color: #ffffff;
}

.psw {
	float: right;
	color: #bcbcbc;
}

.psw a {
	color: #bcbcbc;
}

/*.b{
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #8bc53d;
  width: 5px;
  height: 5px;
  
  border-radius: .25rem;
}*/
.rem {
	color: #bcbcbc;
}

.sign-up p {
	padding: 10px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.footer-cont {
	color: #9a9a9a;
	font-size: 14px;
}

.footer-cont p a {
	color: #9a9a9a;
	font-size: 14px;
}

.bottom-footer {
	height: 35px;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
	width: 20px;
	border-radius: 4px;
}

.link p span {
	font-weight: bold;
	color: #717171;
}

.link p a {
	font-size: 12px;
	color: #8e8e8e;
}
p a {
	font-size: 12px;
	color: #8e8e8e;
}

.link p {
	font-size: 12px;
	color: #8e8e8e;
}

.footer-heading h6 {
	color: #7e7e7e;
}

.copyright {
	font-size: 12px;
	color: #8e8e8e;
}

hr.solid {
	border-top: 0.5px solid #e5e5e5;
}

hr.hr-text {
	position: relative;
	border: none;
	height: 1px;
	background: #999;
}

hr.hr-text::before {
	content: attr(data-content);
	display: inline-block;
	background: #fff;
	font-weight: bold;
	font-size: 0.85rem;
	color: #999;
	border-radius: 30rem;
	padding: 0.2rem 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cleints {
	color: #c22227;
	font-weight: bold;
	font-size: 14px;
	padding-left: 30px;
}

.width-auto {
	width: auto;
}

.text-lg {
	font-size: 2rem;
}

.carousel-indicators li {
	border: none;
	background: #ccc;
}

.carousel-indicators li.active {
	background: #28a745;
}

.cleint-box {
	background-color: #f9f9f9;
	margin-left: 35px;
	width: 550px;
	height: 200px;
}

.cleint-logo img {
	width: 65px;
	height: 35px;
	margin: 15px;
}

.social-button {
	background-color: #ffffff;
	width: 100%;
	height: 43px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 4px;
}

.cr-box {
	width: 400px;
	height: 100px;
	background-color: white;
}

.cr-container {
	width: 70%;
	height: 40%;
	padding-left: 35px;
	background-color: #f8f9f9;
}

.outer-cont {
	background-color: white;
	margin-left: 30px;
}

blockquote p {
	font-size: 12px;
	font-style: italic;
	text-align: left;
}

.test-logo {
	width: 80px;
	height: 55px;
}

.remem {
	color: #bcbcbc;
}

.password-head {
	font-weight: bold;
	font-size: 25px;
	padding-left: 15px;
}

.alert {
	font-size: 12px;
	text-align: left;
}

.term {
	font-size: 12px;
	color: #c22227;
	font-weight: bold;
}

.agree {
	font-size: 12px;
}

.lable {
	margin-bottom: 0;
	color: #969696;
	font-size: 14px;
	font-weight: bold;
}

.inputbox {
	border-radius: 0;
	border: 0;
	color: #121111;
	border-bottom: 2px solid #d9d9d9;
	resize: none;
	padding-left: 0;
	padding-right: 0;
	font-size: 19px;
	width: 100%;
}

input:focus, textarea {
	outline: none !important;
}
/*css for set your password*/
.set_your_password {
	position: absolute;
	left: 3279px;
	top: 906px;
	width: 1440px;
	height: 900px;
	z-index: 428;
}

.Confirm_Password {
	font-size: 16px;
	font-family: "Roboto";
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	line-height: 0.253;
	text-align: left;
	position: absolute;
	left: 820.328px;
	top: 544.476px;
	z-index: 425;
}

.Enter_Password {
	font-size: 16px;
	font-family: "Roboto";
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	line-height: 0.253;
	text-align: left;
	position: absolute;
	left: 820.984px;
	top: 432.476px;
	z-index: 412;
}

.Shape_2_copy_4 {
	background-color: rgb(0, 0, 0);
	opacity: 0.078;
	position: absolute;
	left: 821px;
	top: 599px;
	width: 429px;
	height: 2px;
	z-index: 411;
}

.Shape_2_copy_4 {
	background-color: rgb(0, 0, 0);
	opacity: 0.078;
	position: absolute;
	left: 821px;
	top: 485px;
	width: 429px;
	height: 2px;
	z-index: 410;
}

.Set_Your_Password {
	font-size: 30px;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1;
	text-align: left;
	position: absolute;
	left: 821.219px;
	top: 347.5px;
	z-index: 409;
}

.Rectangle_549 {
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 421px;
	top: 413px;
	width: 195px;
	height: 3px;
	z-index: 408;
}

.Layer_815 {
	background-image: url("Layer 815.png");
	position: absolute;
	left: -3279px;
	top: -906px;
	width: 0px;
	height: 0px;
	z-index: 407;
}

.Next_Step {
	font-size: 18px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.667;
	text-align: center;
	position: absolute;
	left: 993.656px;
	top: 700.599px;
	z-index: 406;
}

.Rounded_Rectangle_817 {
	border-radius: 5px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 819px;
	top: 663px;
	width: 431px;
	height: 50px;
	z-index: 405;
}

.step_2 {
	font-size: 14px;
	font-family: "Roboto";
	color: rgba(0, 0, 0, 0.502);
	text-transform: uppercase;
	line-height: 7.143;
	text-align: left;
	position: absolute;
	left: 189.734px;
	top: 400.499px;
	z-index: 404;
}

.Rectangle_547 {
	background-color: #f5f6f8;
	position: absolute;
	left: 615px;
	top: -5px;
	width: 828px;
	height: 908px;
	z-index: 401;
}

.Set_Your_Passwordd {
	font-size: 24px;
	font-family: "Roboto";
	color: rgb(173, 173, 173);
	font-weight: bold;
	line-height: 4.167;
	text-align: left;
	position: absolute;
	left: 137.781px;
	top: 200.465px;
	z-index: 402;
}
/*new css for set your paswrd*/
.right-box {
	background-color: #f5f6f8;
	text-align: center;
}

.top-box {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(212, 212, 212);
	border-radius: 5px;
	margin-top: 100px;
	font-size: 16px;
	color: #13846a;
}

.password-heading {
	font-size: 24px;
	text-align: left;
	font-weight: bold;
	padding-top: 70px;
}

.password-input {
	border-radius: 0;
	background-color: #f5f6f8;
	border: 0;
	color: #121111;
	border-bottom: 2px solid #d9d9d9;
	resize: none;
	font-size: 16px;
	width: 100%;
}

.password-form {
	padding: 35px;
}

@media screen and (min-width: 768px) {
	.password-form {
		padding: 160px;
	}
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #18876e;
	-moz-osx-font-smoothing: grayscale;
}

.btn-info {
	color: #fff;
	background-color: #f9f9f9;
	border-color: #d7d5d5;
}

.btn-info:hover {
	background-color: #c22227;
	color: #fff;
	border-color: #fff;
}
/*css for plan-price page starts*/
.membership-pricing-table {
	width: 920px
}

.membership-pricing-table table .icon-no, .membership-pricing-table table .icon-yes
	{
	font-size: 22px
}

.membership-pricing-table table .icon-no {
	color: #a93717
}

.membership-pricing-table table .icon-yes {
	color: #209e61
}

.membership-pricing-table table .plan-header {
	text-align: center;
	font-size: 48px;
	border: 1px solid #e2e2e2;
	padding: 25px 0
}

.membership-pricing-table table .plan-header-free {
	background-color: #eee;
	color: #555
}

.membership-pricing-table table .plan-header-blue {
	color: #fff;
	background-color: #61a1d1;
	border-color: #3989c6
}

.membership-pricing-table table .plan-header-standard {
	color: #fff;
	background-color: #ff9317;
	border-color: #e37900
}

.membership-pricing-table table td {
	text-align: center;
	width: 15%;
	padding: 7px 10px;
	background-color: #fafafa;
	font-size: 14px;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset
}

.membership-pricing-table table, .membership-pricing-table table td {
	border: 1px solid #c3c1c1
}

.membership-pricing-table table tr td:first-child {
	text-align: right;
	width: 24%
}

.membership-pricing-table table tr td:nth-child(5) {
	background-color: #FFF
}

.membership-pricing-table table tr:first-child td,
	.membership-pricing-table table tr:nth-child(2) td {
	-webkit-box-shadow: none;
	box-shadow: none
}

.membership-pricing-table table tr:first-child th:first-child {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: #e2e2e2
}

.nav-tabs .nav-link {
	border: none;
	border-top-left-radius: none;
	border-top-right-radius: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #c22227;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 3px solid #c22227;
	background-color: #transparent;
}

.nav-tabs {
	border-bottom: 2px solid #e0e0e0;
}

.pills-n {
	color: #9a9a9a;
	text-decoration: none;
	background-color: #efefef;
}

.pills-n:hover {
	color: #fff;
	text-decoration: none;
	background-color: #13846a;
}

.active.header-plan-inner {
	color: #c22227;
}

.btn-info:not (:disabled ):not (.disabled ).active, .btn-info:not (:disabled
	):not (.disabled ):active, .show>.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #c22227;
	border-color: #c22227;
}

.feature {
	color: #c22227;
	font-weight: bold;
}

.membership-pricing-table table tr:first-child th .pricing-plan-name {
	font-size: 15px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price {
	line-height: 35px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>sup
	{
	font-size: 45%
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>span
	{
	font-size: 30%
}

.membership-pricing-table table tr:first-child th .pricing-plan-period {
	margin-top: -7px;
	font-size: 25%
}

.membership-pricing-table table .header-plan-inner {
	position: relative
}

.membership-pricing-table table .recommended-plan-ribbon {
	box-sizing: content-box;
	background-color: #dc3b5d;
	color: #FFF;
	position: absolute;
	padding: 3px 6px;
	font-size: 11px !important;
	font-weight: 500;
	left: -6px;
	top: -22px;
	z-index: 99;
	width: 100%;
	-webkit-box-shadow: 0 -1px #c2284c inset;
	box-shadow: 0 -1px #c2284c inset;
	text-shadow: 0 -1px #c2284c
}

.membership-pricing-table table .recommended-plan-ribbon:before {
	border: solid;
	border-color: #c2284c transparent;
	border-width: 6px 0 0 6px;
	bottom: -5px;
	content: "";
	left: 0;
	position: absolute;
	z-index: 90
}

.membership-pricing-table table .recommended-plan-ribbon:after {
	border: solid;
	border-color: #c2284c transparent;
	border-width: 6px 6px 0 0;
	bottom: -5px;
	content: "";
	right: 0;
	position: absolute;
	z-index: 90
}

.membership-pricing-table table .plan-head {
	box-sizing: content-box;
	background-color: #ff9c00;
	border: 1px solid #cf7300;
	position: absolute;
	top: -33px;
	left: -1px;
	height: 30px;
	width: 100%;
	border-bottom: none
}
/**/
.email-notice {
	font-size: 16px;
	text-align: center;
	padding: 20px;
}

.Update_pro {
	color: rgb(173, 173, 173);
	font-size: 24px;
	font-family: "Roboto";
	padding-top: 10px;
	padding-left: 130px;
}

.set-password-1 {
	font-size: 24px;
	font-family: "Roboto";
	color: #c22227;
}

.step_1 {
	font-size: 14px;
	font-family: "Roboto";
	color: rgba(0, 0, 0, 0.502);
	text-transform: uppercase;
	padding-left: 168px;
}

.lab {
	color: #878789;
	font-size: 16px;
	font-weight: bold;
}

.login-left {
	width: 90%;
	height: 90%
}

nav ul li a:hover {
	color: red;
}

@media screen and (max-width: 440px) {
	.login-b {
		height: 100%;
		width: 90%;
		background-color: #ffffff;
		margin-top: 30px;
		margin-left: 35px;
	}
}

@media screen and (max-width: 440px) {
	.login-b {
		height: 100%;
		width: 90%;
		background-color: #ffffff;
		margin-top: 30px;
		font-size: 1rem;
		padding: 0px;
	}
}

.welcome-heading {
	width: 100%;
	height: 25%;
}

.welcome-msg {
	margin-top: 20px;
}

@media screen and (max-width: 440px) {
	.welcome-heading {
		text-align: left;
		font-weight: 1rem;
	}
	.welcome-page {
		background-color: #ffffff;
	}
	.c {
		width: 550px;
		height: 300px;
		background-color: white;
		padding: 20px;
	}
	.msg-line {
		
	}
	.email-photo {
		
	}
	@media screen and (max-width: 768px) {
		.right-navlist {
			display: none;
		}
	}
}