// Variables
$green:#8bc53d;
$white:#fff;
$grey: #d9d9d9;
$black:#000;
$orange:#ff4a00;
$red:#f7454a;

body {
    font-family: 'Roboto', sans-serif;


}


// Global input auto fill autoful
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {

    box-shadow: 0 0 0px 1000px #fff inset !important;

}

// IE Edge hack
@supports (-ms-ime-align:auto) {
   #template2 {
       .box { width: 350px;}
   }
   #connectors #template2 .nav { overflow-x: hidden!important;}
}

// Internet explorer CSS Hacks
@media all and (-ms-high-contrast:none) {

    *::-ms-backdrop,
    #connectors #template2 .nav .box {
        width: 150px;
    }

    .form-inline .custom-select,
    .form-inline .input-group {
        width: 300px;
    }

    #template2 {
        .box {
            width: 350px;
        }
    }

    #profile-detail {
        select.form-control::-ms-expand {
            display: none;
        }

       
    }
    #connectors #template2 .modal-top-nav {
        overflow-x: hidden!important;
    }
    #usage-content .usage-top-actions span { margin-bottom: 8px!important;}
    #profile-detail .container form .image-uploader .file-container .form-control-file { width: 100%; height: 150px; }
}


.guideline-modal {
    background: $white;

    z-index: 999999;

    .close {
        position: absolute;
        right: 10px;
        z-index: 9;
    }

    .modal-content {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        border: 0;
        left: 0;
        height: 100vh;
        overflow-y: scroll;
        max-width: 100vw;
        width: 100vw;

        .modal-body {

            border: 0;
        }

        .zapier-right {
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
            overflow-x: hidden;


        }
    }
}

.ckearfix {
    clear: both;
}

.open-modal {
    .modal {
        z-index: 99999;
    }
}

.navbar {
    border-bottom: 1px solid #e0e0e0;
    height: 70px;



    .form-control {

        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid #ced4da;
        }
    }


    #show-sidebar {
        margin-left: 35px;
        margin-right: 30px;
    }

    .top-nav-menu {
        .nav-item {
            .nav-link {
                font-size: 16px;
                color: #2f2f31;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 14px;
                padding-right: 14px;

                &:hover {
                    color: $green;
                }

                img {
                    margin-right: 6px;
                }
            }

            .dropdown-toggle {
                display: flex;
                align-items: center;
                color: $black;

                &::after {
                    content: url('../images/caret-down.png');
                    border: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}

// Left Navigation
.page-wrapper {

    .sidebar-wrapper,
    .page-content {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

#show-sidebar,
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-menu {
    margin-top: 20px;

    .active-menu {
        background-color: #8bc53d;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        color: $white !important;

    }

}

/*----------------page-wrapper----------------*/

.page-wrapper {

    &.toggled .sidebar-wrapper {
        left: 0px;
        top: 70px;
        border-right: 1px solid #e0e0e0;
        background: #fff;
        z-index: 1;
    }
}

/*----------------toggeled sidebar----------------*/

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 240px;


    }

    main.page-content {
        .container-fluid {
            padding-left: 30px;
        }
    }
}

/*----------------show sidebar button----------------*/


.page-wrapper.toggled #show-sidebar {
    left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 240px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 70px;
    left: -300px;


    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-right: 22px;
    }

    .sidebar-menu {
        ul li a {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            position: relative;
            padding: 8px 30px 8px 20px;
            font-size: 16px !important;
            padding: 5px;

            &:hover {
                background: $green;
                -webkit-border-top-right-radius: 6px;
                -webkit-border-bottom-right-radius: 6px;
                -moz-border-radius-topright: 6px;
                -moz-border-radius-bottomright: 6px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                color: $white !important;


            }

            &:hover>i::before {
                display: inline-block;
                animation: swing ease-in-out 0.5s 1 alternate;
            }
        }

        .sidebar-dropdown {
            >a:after {
                content: url('../images/caret-down.png');
                position: relative;

                /*or absolute*/
                z-index: 100000;
                margin-left: 17px;
            }

            .sidebar-submenu {
                ul {
                    margin-left: 20px;
                    border-left: 4px solid #e5e5e5;
                }

                li {
                    font-size: 16px;
                }
            }
        }

        ul li a span {

            &.label,
            &.badge {
                float: right;
                margin-top: 4px;
                margin-left: 5px;

            }
        }

        .sidebar-submenu {
            display: none;
        }

        .sidebar-dropdown.active>a:after {
            content: url('../images/caret-top.png');
        }

        .top-nav-menu-mobile {
            padding-top: 40px;
            padding-bottom: 40px;
            border-top: 1px solid #cbe5a9;
            border-bottom: 1px solid #cbe5a9;
            margin-right: 0;
            margin-top: 30px;
            margin-bottom: 30px;

            a {
                margin-right: 0 !important;
            }
        }

        .logout-left-nav {
            padding-left: 25px;
            color: #616161;
        }
    }
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
    color: #535353;
    font-size: 18px;
    padding: 8px;
    padding-left: 25px;
    margin-right: 22px;
    padding-right: 10px;

    &:hover {}
}

//   Right content Area 
main.page-content {
    padding-top: 90px;
    max-width: 1510px;

    .getting-started {
        h3 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;

            span {
                font-size: 16px;
                text-transform: uppercase;
            }
        }
    }

    .pre-build {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .get-started-form {
        margin-top: 50px;
        margin-bottom: 75px;
        max-width: 1300px;

        .btn {
            background-color: $green;
            font-size: 18px;
            color: $white;

            &:hover {
                box-shadow: 0 0 10px $green;
            }
        }

        label {
            font-size: 14px;
            color: $black;
            opacity: .8;
        }

        .form-control {
            border: 0;
            border-bottom: 2px solid $grey;
            font-size: 24px;
            color: $black;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &::placeholder {
                font-size: 24px;
                color: $black;
                opacity: .3;
            }
        }
    }

    .dotted-line {
        max-width: 1300px;
    }

    .dotted-line-or {
        border-bottom: 2px dashed #cccccc;
        position: relative;


        .or-circle {
            position: absolute;
            height: 50px;
            width: 50px;
            background-color: $white;
            line-height: 50px;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: $green;
            border: 1px solid #e2e2e2;
            border-radius: 50%;
            text-align: center;
            margin-top: -25px;
        }
    }


    .my-account-tabs {
        margin-bottom: 50px;

        .nav-link {
            font-size: 18px;
            color: #7f7f7f;
            font-weight: 500;

            &:hover {
                box-shadow: 0;
                border: 1px solid $white;
            }
        }
    }

    .my-account-tabs .nav-item.show .nav-link,
    .my-account-tabs .nav-link.active {
        border-color: transparent;
        border-bottom: 2px solid $green;
        position: relative;
        color: $green;

        &::after {
            content: "";
            background: url(../images/active-dashboard.png) no-repeat;
            width: 13px;
            height: 6px;
            position: absolute;
            bottom: -8px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    #myAccount {
        h3 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 22px;
            color: $black;
            font-weight: 600;


            span {
                font-weight: 500;
                font-size: 16px;
                text-transform: uppercase;
                display: block;
            }
        }


        .subs-detail {
            border: 2px solid #eee;
            border-radius: 6px;
            padding: 30px 20px;
            margin-bottom: 60px;
            flex-wrap: wrap;

            .active-status {
                &::before {
                    content: "";
                    height: 12px;
                    width: 12px;
                    background: $green;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 10px;
                }
            }

            h6 {
                font-size: 14px;
                opacity: .8;
                font-weight: normal;
            }

            h4 {
                font-size: 18px;
                margin-bottom: 28px;
                font-weight: 400;
            }

            a {
                font-size: 14px;
                text-decoration: underline;
                color: $black;
            }
        }


        .next-invoice {
            background: #f1f1f1;
            padding: 28px 20px 28px 40px;
            border-radius: 6px;

            h5 {
                margin-bottom: 32px;
                margin-left: 15px;
            }

            h6 {
                font-size: 14px;
                opacity: .8;
                font-weight: normal;
            }

            a {
                opacity: .8;
                margin-top: 50px;
                display: inline-block;
            }

            h4 {
                font-size: 18px;
                margin-bottom: 0;
                font-weight: 400;
            }

            .btn {
                background-color: $green;
                border: 1px solid $green;
                color: $white;
                transition: .5s;

                &:hover {
                    box-shadow: 0 0 10px $green;
                }
            }
        }

        .extracted-headings {
            margin-bottom: 12px;

            span {
                font-size: 14px;
                opacity: .8;
                color: $black;
            }
        }

        .extracted-apps {
            border: 2px solid #eee;
            border-radius: 6px;
            padding: 10px 20px;
            margin-bottom: 20px;
            color: $black;
            font-size: 18px;

            p {
                line-height: 34px;
            }

            a {
                height: 35px;
                width: 35px;
                display: inline-block;
                border: 1px solid #e1e5e8;
                border-radius: 4px;
                text-align: center;
                line-height: 30px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            span {
                color: #cccccb;
            }
        }
    }

}

// Custom Scrollbar Starts
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #eaeaea;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #eaeaea;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #c3c0c0;
}

// Custom Scrollbar Ends


.modal-xl {
    max-width: 100%;
    margin: 0;

    .built-template {
        max-width: 100%;
    }
}

#template2 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    max-width: 100vw;
    z-index: 99999;
    background-color: $white;
}

.built-template {
    max-width: 1300px;

    .nav {
        margin-top: 20px;
        z-index: 1;
        max-height: 100vh;
        flex-wrap: nowrap;
        overflow-x: hidden;
        padding-right: 30px;
        padding-left: 20px;



        .box {
            margin-bottom: 20px;
            padding: 20px;
            position: relative;
            text-align: left;

            &:hover {
                box-shadow: 0px 0px 10px $green !important;
                border: 2px solid $green !important;

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 65%;

                    right: -23px;
                    box-sizing: border-box;
                    border: .8em solid black;
                    border-color: transparent transparent $white $white;
                    transform-origin: 0 0;
                    transform: rotate(-135deg);
                    box-shadow: -3px 3px 3px 0 $green;
                    transition: .8s;
                }
            }

            h3 {
                position: relative;
                font-size: 18px;

                &::after {
                    content: url('../images/caret-right.png');
                    position: absolute;
                    z-index: 100000;
                    right: 0;
                    bottom: 0;
                    height: 24px;
                }
            }
        }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: $white;
        border: 2px solid $green;
        box-shadow: 0px 0px 10px $green;

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 65%;

            right: -23px;
            box-sizing: border-box;
            border: .8em solid black;
            border-color: transparent transparent $white $white;
            transform-origin: 0 0;
            transform: rotate(-135deg);
            box-shadow: -3px 3px 3px 0 $green;
            transition: .8s;
        }
    }

    .box {
        padding: 30px 25px;
        border: 2px solid #f1f1f1;
        box-shadow: 0px 0px 10px #f1f1f1;
        cursor: pointer;
        transition: .8s;

        .btn {
            border: 1px solid #545454;
        }

        &:hover {
            border: 1px solid $green !important;
            box-shadow: 0px 0px 8px $green !important;

            .btn {
                background-color: $green;
                border: 1px solid $green;
                color: $white;
                transition: .5s;
            }
        }

        .icon {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border: 1px solid #dfdfdf;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 22px;
            color: $black;
            font-weight: 600;

            span {
                font-weight: normal;
            }
        }
    }

    .active-tab-panel {
        padding: 27px 32px;
        max-height: 100vh;
        overflow-y: scroll;
        z-index: 0;
        padding-top: 0;

        .modal-close {
            padding-top: 20px;
            background: $white;

            .breadcrumb {
                background: $white;
                font-weight: bold;



                li {
                    font-size: 16px;
                    margin-bottom: 0;
                    font-weight: normal;

                    a {
                        color: #000;
                        text-decoration: underline;
                        font-weight: normal;
                        font-size: 16px;
                        margin-bottom: 0;
                        margin-right: 0;
                        opacity: 1;
                        padding: 0;
                    }

                    .breadcrumb-item+.breadcrumb-item::before {
                        content: ">";
                    }
                }

            }
        }

        .close-tab {
            font-size: 16px;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-bottom: 23px;
            cursor: pointer;

            .close-icon {
                margin-right: 10px;


            }

        }

        .tab-content-logo-container {
            padding-top: 20px;
            padding-bottom: 20px;

            .tab-content-logos {
                display: flex;
                align-items: center;
                margin-bottom: 34px;

                .arrow-right {
                    height: 15px;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .tab-logo-box {
                    height: 45px;
                    width: 45px;
                    text-align: center;
                    line-height: 40px;
                    border: 1px solid #dadfe2;
                    border-radius: 4px;
                }
            }
        }

        .tab-row-content {
            font-size: 18px;

            .zap-content {
                width: 75%;
                margin-right: 20px;
                text-align: left;
            }
        }

        .btn-orange {
            background: $orange;
            color: $white;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;

            &:hover {
                box-shadow: 0px 0px 10px $orange !important;
            }
        }
    }
}

// Login Page
#login-page {
    .logo {
        position: absolute;
        top: 62px;
        left: 65px;
        z-index: 1;
    }

    .login-map {
        background: url(../images/login-left.png) no-repeat;
        background-size: cover;
    }

    .login-left {
        height: 100vh;
        max-width: 580px;



        h1 {
            color: #3a3a3c;
            font-size: 50px;
            line-height: 60px;

            span {
                font-size: 24px;
                line-height: 50px;
                font-weight: 500;
            }
        }
    }

    .login-area {
        max-width: 442px;

        .nav-pills {
            display: flex;

            .nav-item {
                .nav-link {
                    height: 62px;
                    border-radius: 0;
                    background-color: #e5e6e8;
                    color: #919293;
                    border-top: 4px solid transparent;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .active {
                    border-top: 4px solid $green;
                    color: $black;
                    background-color: $white;
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            padding-top: 52px;
            padding-bottom: 64px;
        }
    }

}

// Profile Details Page
#profile-detail {
    height: 100vh;

    .container {
        max-width: 920px;

        form {
            h3 {
                margin-bottom: 52px;
                font-weight: bold;
                font-size: 24px;

                span {
                    font-size: 16px;
                }
            }

            .image-uploader {
                label {
                    margin-bottom: 16px !important;
                }

                .file-container {
                    height: 150px;
                    width: 150px;
                    border: 2px dashed #cccccc;
                    position: relative;

                    p {
                        color: $black;
                        text-align: center;
                        padding: 15px;
                        padding-top: 35px;

                        span {
                            color: $green;
                            font-weight: bold;
                        }
                    }

                    .form-control-file {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }

                .file-text {
                    color: #8d8d8d;
                    font-size: 14px;
                    width: 200px;
                    margin-left: 20px;
                }


            }

            .form-group {
                margin-bottom: 40px;

                label {
                    margin-bottom: 0;
                    color: #585858;
                    font-size: 14px;
                }
input {    color: $black;}
                .form-control {
                    border-radius: 0;
                    border: 0;
                    border-bottom: 2px solid #d9d9d9;
                    resize: none;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 24px;
                

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &::placeholder {
                        font-size: 24px;
                        color: $black;
                        opacity: .3;
                    }
                }

                .btn {
                    background-color: $green;
                    color: $white;
                    height: 62px;
                    font-size: 18px;
                    font-weight: bold;

                    &:hover {
                        box-shadow: 0 0 10px $green;
                    }
                }
            }
        }
    }
}

// Email Notifications
#email-notification {

    // Checkboxes Global
    .check-container {
        display: block;
        position: relative;
        padding-left: 57px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;

            border: 1px solid #8bc53d;
            width: 37px;
            height: 37px;
            padding: 10px;
            border-radius: .25rem;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        input:checked~.checkmark:after {
            display: block;
        }

        .checkmark:after {
            left: 5.49px;
            top: 5px;
            width: 25px;
            height: 25px;
            background-color: $green;
            border-radius: .25rem;
        }
    }

    h3 {
        margin-bottom: 42px;
        font-size: 24px;

        span {
            font-size: 16px;
        }
    }

    .notification-box {
        border: 1px solid #dcdcdc;
        margin-bottom: 30px;
        padding: 27px 22px;
        border-radius: 4px;

        label {
            font-size: 24px;
        }
    }

    .btn {
        background: $green;
        color: $white;
        font-size: 18px;
        font-weight: bold;

        &:hover {
            box-shadow: 0 0 10px $green;
        }
    }
}

// Error Page
#error404 {
    height: 100vh;

    .error-msg {
        margin-left: 40px;

        h4 {
            font-size: 72px;
            font-weight: bold;
            margin-bottom: 0;
        }

        p {
            font-size: 36px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 32px;
        }

        .btn {
            background: $green;
            color: $white;

            &:hover {
                box-shadow: 0 0 10px $green;
            }
        }
    }
}

select.form-control {
    background-image: url(../images/caret-down.png);
    background-position:
        calc(100% - 15px) 14px,
        calc(100% - 15px) 14px,
        100% 0;

    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;

    color: #d9d9d9 ;
}


input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes autofill {

    0%,
    100% {
        color:$black;
        background: transparent;
    }
}





.prebuild-temp {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    border: 0;
    border-radius: 0;
}

// Welcome Registration Page Starts
#registerThanks {
    .welcome-register {
        padding: 90px 45px;
        background: $green;

        height: 100vh;

        h4 {
            color: $white;
            font-size: 30px;
            border-bottom: 1px solid #b7d988;
            font-weight: 400;
            margin-bottom: 40px;
            padding-bottom: 32px;
        }

        p {
            color: $white;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }

        .btn-row {
            padding-top: 40px;
            border-top: 1px solid #b7d988;

            .btn {
                font-size: 18px;
                font-weight: bold;
            }

            .btn-flat {
                background: $white;
                margin-bottom: 20px;
                color: $green;
            }

            .btn-outline-light {
                &:hover {
                    color: $green;
                }
            }
        }
    }

    .welcome-technologies {
        position: relative;
        background: url(../images/welcometech-bg.png) repeat 48px -239px #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100vh;


        .tech-section {
            max-width: 1012px;

        }

        .box-log-lg {
            height: 148px;
            width: 148px;
            border-radius: 50%;
            background-color: $white;
            box-shadow: 0 0 20px #e1e1e1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px;


        }
    }
}

// Connectors guideline modal


// Connectors page
#connectors {
    .built-template {
        .active-tab-panel {
            height: 100vh;
        }
    }

    .nav {
        .active {
            &::after {
                display: none;
            }

            h4 {
                color: $black !important;
            }


        }

        .box {
            padding: 20px 22px;
            border-radius: 8px !important;

            p {
                color: #737373;
                text-align: center;
                margin-bottom: 0;

                span {
                    font-weight: bold;
                }
            }

            h4 {
                font-size: 20px;
                color: #6e6e6e;

                span {
                    font-size: 16px;
                    font-weight: normal;
                }
            }

            &:hover {
                h4 {
                    color: $black;
                }


            }

            .icons-text {



                .icons {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;


                    div {
                        width: 30px;
                        height: 30px;
                        margin: 3px;
                        border: 1px solid #eceef0;
                        text-align: center;
                        padding: 7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $white;
                        margin: 1.5px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }



    .close-tab {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .guidelines {
            color: $green;
            font-weight: bold;
            display: none;
            margin-right: 10px;
        }

        a {
            font-size: 16px;
            cursor: pointer;
            color: #545454;
            text-decoration: none;
            font-weight: normal;

            img {
                margin-right: 8px;
            }
        }
    }

    .zapier-right {
        padding: 0;

        h3 {
            color: $green;
        }

        h4 {
            span {
                color: #aba9af;
            }
        }


    }

    #template2 {
        .nav {
            width: 100%;
            max-height: 150px;
            display: flex;
            flex-direction: row !important;
            overflow-x: scroll;
            scrollbar-width: thin;
            margin-top: 10px;
            justify-content: space-between;
            flex-wrap: nowrap;

            &::-webkit-scrollbar {
                height: 5px;
            }

            .box {
                max-width: 150px;
                height: 85px;
                padding: 10px;
                margin-bottom: 10px;
                margin-right: 10px;

                p {
                    font-size: 13px;
                    line-height: 17px;
                }

                .icons-text {
                    p {
                        display: none;
                    }

                    .icons {
                        margin-bottom: 0;
                    }
                }

                &:hover {
                    &::after {
                        display: none;
                    }
                }

            }
        }


        .modal-top-nav {
            width: 100%;

            overflow-y: hidden;

            overflow-x: scroll;
            scrollbar-width: thin;
            padding-right: 0;
            margin-bottom: 15px;


        }
    }

    .load-more {
        border: 2px solid $green;
        color: $green;
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;

        &:hover {
            background: $green;
            color: $white;
        }
    }

    .built-template .nav-pills .nav-link.active::after,
    .built-template .nav-pills .show>.nav-link::after.built-template .nav-pills .nav-link.active::after,
    .built-template .nav-pills .show>.nav-link::after {
        display: none;
    }
}

.guidelines {
    color: $green;
    font-weight: bold;
    display: none;
    margin-right: 10px;
}

// Zapier Modal

.zapier {
    height: 100%;
    border: 1px solid #cdcdcd;
    padding: 30px;

    .zapier-content {
        text-align: center;
        margin-top: 10px;
        padding-top: 76px;
        border-top: 1px solid #f5f7f7;

        h6 {
            color: #28353b;
            margin-bottom: 35px;
            font-size: 18px;
        }

        .zapier-converter {
            background-color: #f1f4f5;
            width: 200px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 6px;
            display: flex;
            justify-content: space-around;
            position: relative;
            margin-bottom: 20px;



            &::before {
                content: "";
                background: url(../images/zapier-before) no-repeat left center;
                position: absolute;
                width: 54px;
                height: 46px;
                left: -54px;
                top: 20px;
            }
        }

        .form-control {
            margin-bottom: 16px;

            &::placeholder {
                font-size: 16px;
                font-weight: 100;
                color: #8e979c;
            }
        }

        .btn {
            background-color: $orange;
            color: $white;
        }

        p {
            margin-top: 30px;
            margin-bottom: 0;
        }
    }


}

.extract-resume-apps {
    .app-box {
        border: 1px solid #e4e4e4;
        border-radius: 6px;
        max-width: 340px;
        width: 100%;
        margin-top: 40px;
        box-shadow: 0 0 30px #f7f7f7;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        cursor: pointer;

        .small-icons {
            display: flex;
            justify-content: center;

            figure,
            span {
                height: 44px;
                width: 44px;
                border: 1px solid #dadfe2;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 24px;
            }

            span {
                border: 0;
                width: 15px;
                color: #969ea2;
            }
        }

        p {
            margin-bottom: 24px;
        }

        &:hover {
            box-shadow: 0px 0px 10px $green !important;
            border: 1px solid $green !important;

            .btn {
                background: $green;
                border: 1px solid $green;
                color: $white;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
        }
    }
}

// FAQ Page

#faq {
    .accordion {
        margin-top: 45px;

        .card {
            margin-bottom: 20px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px #f7f7f7;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0 0 10px #dceec5;
            }

            .card-header {
                background-color: transparent;
                border-bottom: 0;
                position: relative;
                padding-top: 8px;
                padding-bottom: 8px;

                h2 {
                    button {
                        font-size: 16px;
                        font-weight: bold;
                        color: $black;
                        padding-left: 35px;
                        text-align: left;
                    }
                }


                &::after {
                    content: "";
                    background: url(../images/caret-green-bottom.png) no-repeat left center #fff;
                    width: 13px;
                    height: 8px;
                    left: 22px;

                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }

                [aria-expanded="true"] {
                    &::after {
                        content: "";
                        background: url(../images/caret-green-up.png) no-repeat left center #fff;
                        width: 13px;
                        height: 8px;
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: 22px;
                        z-index: 1;
                    }
                }
            }

            .card-body {
                padding: 1rem;
                padding-left: 55px;
            }

        }
    }

    .editor-content {
        display: flex;
        flex-direction: column;
    }
}

// Datepicker
#ui-datepicker-div {
    display: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.ui-datepicker-calendar {
    thead th {
        padding: 0.25rem 0;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 400;
        color: #78909C;
    }

    tbody td {
        width: 2.5rem;
        text-align: center;
        padding: 0;

        a {
            display: block;
            border-radius: 0.25rem;
            line-height: 2rem;
            transition: 0.3s all;
            color: #546E7A;
            font-size: 0.875rem;
            text-decoration: none;

            &:hover {
                background-color: #E0F2F1;
            }

            &.ui-state-active {
                background-color: $green;
                color: white;
            }
        }
    }
}

.ui-datepicker-header a {
    &.ui-corner-all {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
        border-radius: 0.25rem;
        transition: 0.3s all;

        &:hover {
            background-color: #ECEFF1;
        }
    }

    &.ui-datepicker-prev {
        left: 0;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
        background-repeat: no-repeat;
        background-size: 0.5rem;
        background-position: 50%;
        transform: rotate(180deg);
    }

    &.ui-datepicker-next {
        right: 0;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: 50%;
    }

    >span {
        display: none;
    }
}

.ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}

.ui-datepicker-week-col {
    color: #78909C;
    font-weight: 400;
    font-size: 0.75rem;
}

// Usage Page
#usage-content {
    .get-started-form {
        margin-bottom: 30px;

        .form-control {
            background: transparent;

            &::placeholder {
                font-size: 16px;
            }

            &::after {
                content: "../images/datepicker.png";
                background: url(../images/datepicker.png) no-repeat right center;
                position: absolute;
                z-index: 9999999;
                height: 20px;
                width: 20px;
            }
        }

        .input-group-text {
            border: 0;
            border-bottom: 2px solid #d9d9d9;
        }
    }

    .status {
        display: block;

        &::before {
            content: "";
            height: 13px;
            width: 13px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
        }
    }

    .status-pass {
        &::before {


            background: #5be735;
        }
    }

    .status-fail {
        &::before {


            background: #ff7e7e;
        }


    }

    .usage-top-actions {

        .status {
            margin-bottom: 0;


            &::before {
                margin-right: 8px;
                height: 15px;
                width: 15px;
                margin-top: 3px;
            }
        }

        span {
            display: block;
            margin-bottom: 20px;
            font-size: 14px;
            color: #585858;
        }

        a {
            border: 1px solid #d3d3d3;
            width: 90%;
            padding: 8px 15px;
            border-radius: 4px;
            color: #d3d3d3;
            display: flex;
            align-items: center;
            justify-content: center;



            img {
                border-radius: 50%;
                margin-right: 8px !important;
            }


            &:hover {
                border: 1px solid $green;
                box-shadow: 0 0 10px #ccc;
                color: $green;
                text-decoration: none;
            }


        }

        .active {
            border: 1px solid $green;
            box-shadow: 0 0 10px #ccc;
            color: $green;
        }
    }

    .table-content {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #e5e5e5;
        padding-top: 30px;

        .dropdown-menu {
            top: 100% !important;
        }

        .tablular-data {


            .data-border {
                color: $black;
                padding-top: 32px;
                padding-bottom: 32px;
                border-bottom: 1px solid #e5e5e5;



                &:hover {
                    background-color: #f7f7f7;
                }

                label {
                    display: block;
                    color: #666;
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-weight: bold;
                }
            }

            .data-heading {
                a {
                    color: #a3a3a3;
                    font-size: 14px;

                    img {
                        margin-left: 8px;
                    }
                }
            }
        }
    }


    .table {
        color: $black;
        opacity: .8;





        .input-group {
            max-width: 220px;

            .form-control {
                width: auto;
            }

            .input-group-text {
                border-right: 0;
            }
        }

        .mobile-results {
            display: flex;
            align-items: center;
        }
    }


    .pagination {
        .page-link {
            color: #888888;
            border: 1px solid transparent;
        }

        .active {
            .page-link {
                background: $green;
                border: 1px solid $green;
                color: $white;
            }
        }
    }

}

.chat-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: $green;
    position: fixed;
    right: 32px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.succ-fail-modal {
    max-width: 390px;
    min-height: auto;
    margin: auto;
    height: 100vh;

}

// Modal Left iframe

.left-frame {
    position: relative;


    iframe {
        border: 1px solid #ccc;
        padding: 20px;
    }

    .iframe-embed {
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
    }

    .show-hide-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0px;
        margin: auto;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        border: 1px solid #b4b4b4;
        cursor: pointer;
        background-color: $white;
        text-align: center;
        z-index: 1;

        &::after {
            content: ">";
        }
    }

}




// USe this zap Modal 
#exampleModalNested {
    z-index: 99999;
    background: $white;



    .modal-dialog {
        max-width: 100%;
        margin: 0;

        .close-tab {
            -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-bottomleft: 20px;
            border-bottom-left-radius: 20px;
            background: #ff6465;
            opacity: 1;
            height: 44px;
            width: auto;
            padding-left: 15px;
            padding-right: 45px;
            display: flex;
            align-items: center;
            text-shadow: none;
            font-weight: 100;
            color: $white;
            font-size: 16px;
            cursor: pointer;

            a {
                margin-right: 10px;
            }

        }

        .breadcrumb {
            background-color: transparent;
            color: $black;

            .close-tab {
                background-color: transparent;
                height: auto;
                padding: 0;
                padding-left: .5rem;


                a {
                    margin-right: 0;
                }


            }

            a {
                color: #545454;
                text-decoration: underline;

            }
        }

        .modal-content {
            border-radius: 0;
            height: 100%;
            position: absolute;
            background: $white;
            border: 0;

            .modal-close {
                position: fixed;
                top: 0;
                background-color: $white;
            }

            .modal-body {
                margin-top: 75px;
            }


            .zapier {
                box-shadow: 0 0 10px #f7f7f7;
                position: relative;

                // .show-hide-toggle {
                //     position: absolute;
                //     top: 0;
                //     bottom: 0;
                //     right: -15px;
                //     margin: auto;
                //     height: 28px;
                //     width: 28px;
                //     border-radius: 50%;
                //     border: 1px solid #b4b4b4;
                //     cursor: pointer;
                //     background-color: $white;
                //     text-align: center;
                //     z-index: 1;

                //     &::after {
                //         content: ">";
                //     }
                // }
            }
        }
    }
}

.zapier-right {
    max-width: 400px;


    .zap-head-title {
        max-width: 40px;
        text-align: right;
        font-size: 36px;
        color: #a3a3a3;
        line-height: 24px;

        span {
            display: block;
            font-size: 10px;
            text-transform: uppercase;
        }
    }

    h3 {
        color: $green;
        font-size: 22px;
        margin-bottom: 30px;
        line-height: 24px;

        span {
            font-size: 16px;
            display: block;
        }
    }

    .zapier-right-content {
        margin-bottom: 30px;



        h4 {
            font-size: 20px;
            line-height: 24px;

            span {
                font-size: 16px;
                color: #aba9af;
            }
        }

        p {
            margin-bottom: 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
        }
    }
}


.loading-modal {
    max-width: 400px;

    .modal-content {
        background: transparent;
        border: 0;

        .loading-logo {
            width: 65px;
            height: 65px;
            background: $white;
            border-radius: 50%;
            text-align: center;
            margin-bottom: 14px;
            -webkit-animation: breathing 7s ease-out infinite normal;
            animation: breathing 7s ease-out infinite normal;

            img {
                margin-top: 2px;
            }
        }

        .progress {
            height: 40px;
            border-radius: 50px;
            background: transparent;
            border: 2px solid $green;

            .progress-bar {
                background: $green;
                border-radius: 50px;
            }
        }

        p.loading-dots {
            font-size: 18px;
            font-weight: bold;
            color: $white;
            margin-top: 12px;

            &::after {
                content: ' .';
                animation: dots 1s steps(5, end) infinite;
            }
        }
    }
}

//Modal Loading animation
@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;
    }
}


.error-modal {
    .special-modal {
        border-top: 6px solid $red;
        background: url(../images/error-modal-bg.png) no-repeat top center #fff;

        .modal-circle-top {
            background-color: $red;

            &::after {
                content: "";
                background: url(../images/error-cross.png) no-repeat center center;
            }
        }

        .modal-body {
            .btn {
                background-color: $red;
            }
        }
    }
}

// Success and File MOdal
.special-modal {
    padding: 20px;
    max-width: 390px;
    position: relative;
    border-top: 6px solid #6dbd3f;
    border-radius: 10px;
    background: url(../images/success-modal-bg.png) no-repeat top center #fff;

    .close {
        position: absolute;
        right: -40px;
        color: #fff;
        opacity: 1;
        font-weight: 100;
        font-size: 60px;
        padding: 0;
        top: -18px
    }

    .modal-circle-top {
        position: absolute;
        height: 80px;
        top: -40px;
        width: 80px;
        border-radius: 50%;
        background-color: #6dbd3f;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;

        &::after {
            content: "";
            background: url(../images/success-check.png) no-repeat center center;
            height: 34px;
            width: 34px;
            display: block;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .modal-body {
        h3 {
            font-size: 36px;
            font-weight: 400;
            margin-top: 20px;
        }

        p {
            color: $black;
            opacity: .8;
        }

        .btn {
            background: #6dbd3f;
            color: #fff;
            margin-top: 50px;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.special-offer-modal {
    max-width: 546px;

    .special-modal {
        max-width: 546px;
        background: #fff;
        border-top: 0;

        h3 {
            font-size: 48px;
            font-weight: bold;
            line-height: 60px;

            span {
                font-size: 30px;
                display: block;
            }
        }

        .btn {
            background: $green;
            font-size: 24px;
        }

        a {
            color: $green;
            font-weight: 500;
            margin-top: 30px;
            display: block;
            text-decoration: underline;
        }

        .close {
            top: -10px;
        }
    }
}

footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 80px;

    .col {
        padding: 27px 10px;
        color: #000;
        opacity: .8;
        font-size: 18px;
    }
}


