@media only screen and (min-width: 1441px) {
  main.page-content {
    max-width: 100%;
  }
  main.page-content .container-fluid {
    padding-left: 40px;
  }
  main.page-content .get-started-form,
  main.page-content .built-template,
  main.page-content .dotted-line {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  nav.navbar {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .check-container .checkmark {
    margin-top: 8px;
  }
  .wrap-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #usage-content .usage-top-actions {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  #usage-content .usage-top-actions a {
    width: 100%;
  }
  .guideline-modal .zapier-right {
    display: block;
  }
  .guideline-modal .zapier-right h3 {
    margin-bottom: 15px;
    font-size: 20px;
    margin-top: 30px;
  }
  .guideline-modal .zapier-right h4 {
    font-size: 18px;
  }
  .guideline-modal .zapier-right .zapier-right-content {
    margin-bottom: 15px;
  }
  .guideline-modal .zapier-right .zapier-right-content p {
    line-height: 20px;
  }
  #registerThanks .welcome-register {
    padding: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .guidelines {
    display: block;
  }
  .zapier-right {
    display: none;
  }
  #connectors .close-tab .guidelines {
    display: block;
  }
  #connectors .zapier-right {
    display: none;
  }
  .show-hide-toggle {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .built-template .nav-pills .nav-link.active,
  .built-template .nav-pills .show > .nav-link {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background: #8bc53d;
  }
  .built-template .nav-pills .nav-link.active h3,
  .built-template .nav-pills .show > .nav-link h3 {
    color: #fff;
  }
  .built-template .nav-pills .nav-link.active::after,
  .built-template .nav-pills .show > .nav-link::after {
    display: none;
  }
  .built-template .nav .box:hover::after {
    display: none;
  }
  #login-page .logo {
    position: static;
  }
  .parse-resume-from {
    display: block !important;
    width: 100%;
    margin-bottom: 10px;
  }
  .built-template {
    margin: auto;
  }
  .built-template .pr-0 {
    padding-left: 0;
  }
  .built-template .nav {
    max-height: 100%;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: auto;
    margin-bottom: 10px;
    padding: 0;
    overflow-x: hidden;
  }
  .built-template .nav .force-overflow {
    display: none;
  }
  .built-template .nav .box {
    padding: 5px;
    width: 33.33%;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .built-template .nav .box .col-auto {
    display: none;
  }
  .built-template .nav .box h3 {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 20px;
  }
  .built-template .nav .box h3::after {
    display: none;
  }
  .built-template .nav .box h3 span {
    display: none !important;
  }
  .built-template .nav .box .icon {
    display: none;
  }
  .built-template .active-tab-panel {
    overflow-y: scroll;
    padding: 18px;
    padding-top: 0;
  }
  .built-template .active-tab-panel .tab-content-logo-container {
    padding: 0;
  }
  .built-template .active-tab-panel .tab-row-content {
    font-size: 14px;
  }
  .built-template .active-tab-panel .tab-content-logos {
    margin-bottom: 10px;
  }
  #template2 .box {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  #connectors .box .icons-text .icons {
    margin-bottom: 2px !important;
  }
  #connectors .box .icons-text .icons div {
    padding: 6px;
    margin: 2px;
  }
  #connectors .box .icons-text p {
    display: none;
  }
  #connectors .box p {
    font-size: 14px;
  }
  #connectors .built-template .nav-pills .nav-link.active p,
  #connectors .built-template .nav-pills .show > .nav-link p {
    color: #fff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav.navbar {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .wrap-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main.page-content #myAccount .extracted-apps {
    font-size: 16px;
  }
  main.page-content #myAccount .extracted-apps .d-flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.page-content #myAccount .extracted-apps .d-flex a {
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
  }
  main.page-content #myAccount .extracted-apps .d-flex p {
    line-height: 20px;
  }
  main.page-content #myAccount .extracted-apps span {
    display: none;
  }
  #registerThanks .welcome-register {
    padding: 60px 30px;
  }
  main.page-content .container-fluid {
    padding-left: 15px;
  }
  .page-wrapper.toggled .page-content {
    padding-left: 250px;
  }
  .extract-resume-apps .app-box {
    max-width: 304px;
  }
  #usage-content .usage-top-actions a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #usage-content .usage-top-actions a img {
    margin-right: 15px;
  }
  #usage-content .get-started-form .input-group {
    margin-bottom: 30px;
  }
  #usage-content .get-started-form .form-control {
    margin-bottom: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #registerThanks .welcome-register {
    height: 100vh;
    padding: 200px 45px;
  }
  #registerThanks .welcome-register h4 {
    font-size: 40px;
  }
  #registerThanks .welcome-register p {
    font-size: 22px;
  }
  main.page-content .get-started-form .form-control {
    margin-bottom: 30px;
  }
  .extract-resume-apps .app-box {
    max-width: 345px;
    margin-right: 0;
  }
  #connectors .built-template .active-tab-panel {
    height: auto;
  }
  #usage-content .get-started-form .input-group {
    margin-bottom: 30px;
  }
  #usage-content .get-started-form .form-control {
    margin-bottom: 0;
  }
  .hide-ipad-port {
    display: none !important;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  main.page-content {
    padding-top: 40px;
  }
  #show-sidebar {
    margin-right: 20px !important;
  }
  #registerThanks .welcome-register {
    padding: 45px;
  }
  #registerThanks .welcome-register h4 {
    margin-bottom: 0;
    border-bottom: 0;
  }
  #registerThanks .welcome-register .btn-row {
    padding-top: 20px;
    border-top: 0;
  }
  .special-modal .modal-header {
    padding: 0;
  }
  .special-modal .btn {
    margin-top: 24px !important;
  }
  .sidebar-wrapper {
    top: 65px !important;
  }
  .page-wrapper.toggled .sidebar-wrapper {
    top: 65px !important;
  }
  .wrap-mobile {
    margin-top: 0 !important;
  }
  .my-account-tabs {
    margin-top: 0 !important;
  }
}

@media screen and (min-device-width: 412px) and (max-device-height: 823px) and (-webkit-device-pixel-ratio: 3.5) and (orientation: landscape) {
  main.page-content {
    padding-top: 75px !important;
  }
  .wrap-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  nav.navbar {
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .special-offer-modal {
    margin: 0 auto !important;
    width: 90%;
  }
  .special-offer-modal .modal-body {
    padding: 0;
  }
  .special-offer-modal .special-modal .close {
    top: -35px;
  }
  .special-offer-modal .special-modal a {
    margin-top: 10px;
  }
  .special-offer-modal .special-modal h3 {
    font-size: 30px !important;
    line-height: 35px !important;
    margin-top: 0;
  }
  .special-offer-modal .special-modal h3 span {
    font-size: 22px !important;
  }
  .special-offer-modal .special-modal .btn {
    font-size: 18px !important;
    margin-top: 0 !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  main.page-content {
    padding-top: 70px !important;
  }
  main.page-content .get-started-form {
    margin-top: 30px;
  }
  .page-wrapper.toggled .sidebar-wrapper {
    top: 70px;
  }
  nav.navbar {
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  #email-notification .btn {
    width: 100%;
  }
  .chat-icon {
    display: none;
  }
  #registerThanks .col-lg-9 {
    display: none !important;
  }
  .loading-modal {
    margin: 0 auto;
  }
  #registerThanks .welcome-register {
    padding: 45px;
  }
  #registerThanks .welcome-register h4 {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 20px;
  }
  #registerThanks .welcome-register .btn-row {
    padding-top: 20px;
    border-top: 0;
  }
  .special-modal .modal-header {
    padding: 0;
  }
  .special-modal .btn {
    margin-top: 24px !important;
  }
  .special-offer-modal .close {
    top: -35px !important;
  }
  .special-offer-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .special-offer-modal .modal-body h3 {
    margin-top: 0;
    line-height: 50px;
    font-size: 40px;
  }
  .special-offer-modal .modal-body .btn {
    font-size: 14px !important;
  }
  .special-offer-modal .modal-body a {
    margin-top: 8px;
  }
  .special-offer-modal .modal-body hr {
    display: none;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  main.page-content {
    padding-top: 85px;
  }
  .sidebar-wrapper {
    top: 65px !important;
  }
  .my-account-tabs {
    margin-top: 0 !important;
  }
  .wrap-mobile {
    margin-top: 0 !important;
  }
  .page-wrapper.toggled .sidebar-wrapper {
    top: 65px !important;
  }
  #registerThanks .welcome-register {
    padding: 45px;
  }
  #registerThanks .welcome-register h4 {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 20px;
    font-size: 25px;
  }
  #registerThanks .welcome-register .btn-row {
    padding-top: 20px;
    border-top: 0;
  }
  .special-modal .modal-header {
    padding: 0;
  }
  .special-modal .btn {
    margin-top: 24px !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  main.page-content {
    padding-top: 85px;
  }
  #registerThanks .welcome-register {
    padding: 45px;
    padding-top: 30px !important;
  }
  #registerThanks .welcome-register h4 {
    margin-bottom: 0;
    border-bottom: 0;
  }
  #registerThanks .welcome-register p {
    font-size: 15px;
    line-height: 18px;
  }
  #registerThanks .welcome-register .btn-row {
    padding-top: 20px;
    border-top: 0;
  }
  .special-modal .modal-header {
    padding: 0;
  }
  .special-modal .btn {
    margin-top: 24px !important;
  }
}

@media only screen and (max-width: 767px) {
  nav.navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav.navbar .input-group {
    width: 100%;
  }
  .sidebar-wrapper {
    top: 111px;
  }
  .sidebar-menu .dashboard {
    margin-top: 0;
  }
  .page-wrapper.toggled .sidebar-wrapper {
    top: 111px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
  }
  .page-wrapper.toggled .sidebar-wrapper .sidebar-menu .dashboard {
    margin-right: 0;
    border-radius: 0;
    margin-top: 0;
  }
  .page-wrapper.toggled .sidebar-wrapper .sidebar-menu ul {
    margin-right: 0;
  }
  .page-wrapper.toggled .sidebar-wrapper .sidebar-menu ul li a {
    margin-right: 0;
    border-radius: 0;
  }
  .page-wrapper.toggled .sidebar-wrapper .sidebar-menu ul li a span.badge {
    margin-right: 0;
  }
  #usage-content {
    padding-top: 120px;
  }
  #usage-content .get-started-form .form-control {
    margin-bottom: 0;
  }
  #usage-content .table td {
    padding: 10px 5px;
    font-size: 12px;
  }
  #usage-content .table td .status span {
    display: none;
  }
  #usage-content .mobile-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #usage-content .mobile-results .dropdown {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #usage-content .usage-top-actions {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #usage-content .usage-top-actions .col {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
  #usage-content .usage-top-actions a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #usage-content .usage-top-actions a img {
    margin-right: 10px;
  }
  #usage-content .table-content .tablular-data .data-border {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar #show-sidebar {
    margin-right: 0 !important;
  }
  .modal-dialog {
    margin: 1.5rem;
  }
  .loading-modal {
    margin: 0 auto;
  }
  .special-modal .close {
    right: 10px !important;
    top: -55px !important;
  }
  #profile-detail {
    height: auto;
  }
  #registerThanks .welcome-register {
    padding-top: 45px;
  }
  main.page-content .my-account-tabs .nav-item.show .nav-link .sidebar-wrapper,
  main.page-content .my-account-tabs .nav-link.active .page-wrapper.toggled .sidebar-wrapper {
    top: 0 !important;
    z-index: 9999 !important;
  }
  #email-notification .notification-box label {
    font-size: 20px;
  }
  #email-notification .custom-control .custom-control-label::before {
    top: -8px;
    left: -23px;
    width: 48px;
  }
  #email-notification .btn {
    width: 100%;
  }
  #faq {
    margin-top: 40px;
  }
  .my-account-tabs {
    border-bottom: 0;
    margin-top: 30px;
    margin-bottom: 30px !important;
  }
  .my-account-tabs .nav-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: center;
  }
  .my-account-tabs .nav-item .nav-link {
    background: #f0f0f0;
  }
  main.page-content #myAccount .next-invoice {
    padding-left: 20px;
  }
  main.page-content #myAccount .extracted-apps {
    font-size: 16px;
  }
  main.page-content #myAccount .extracted-apps p {
    font-size: 16px;
  }
  main.page-content .my-account-tabs .nav-item.show .nav-link,
  main.page-content .my-account-tabs .nav-link.active {
    background-color: #8bc53d;
    color: #fff;
  }
  .navbar {
    height: auto !important;
  }
  .navbar .form-inline {
    width: 64%;
  }
  .navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar .navbar-nav .nav-item {
    margin: 10px 0;
  }
  .page-content .get-started-form {
    margin-top: 30px !important;
  }
  .page-content .get-started-form .form-control {
    margin-bottom: 40px;
  }
  .extract-resume-apps .app-box {
    max-width: 100%;
  }
  .special-modal {
    width: 90%;
    margin: auto;
  }
  .special-offer-modal {
    margin: 0 auto !important;
    width: 90%;
  }
  .special-offer-modal .modal-body {
    padding: 0;
  }
  .special-offer-modal .special-modal a {
    margin-top: 10px;
  }
  .special-offer-modal .special-modal h3 {
    font-size: 30px !important;
    line-height: 35px !important;
    margin-top: 0;
  }
  .special-offer-modal .special-modal h3 span {
    font-size: 22px !important;
  }
  .special-offer-modal .special-modal .btn {
    font-size: 18px !important;
    margin-top: 0 !important;
  }
  .wrap-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  footer {
    margin-top: 30px;
  }
  .chat-icon {
    display: none;
  }
  .zapier-right,
  .show-hide-toggle,
  #exampleModalNested .modal-dialog .breadcrumb {
    padding-top: 15px;
  }
  #exampleModalNested .modal-dialog .modal-content .modal-close {
    padding-top: 0;
    border-bottom: 0 !important;
  }
  .zapier .zapier-content {
    padding-top: 30px;
  }
  #exampleModalNested .modal-dialog .modal-content .modal-body {
    margin-top: 50px;
  }
  #connectors .getting-started {
    margin-top: 30px;
  }
  #connectors .built-template .nav .box {
    padding: 8px;
  }
  #connectors .built-template .nav .box h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
    line-height: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  #connectors .built-template .nav .box h4 span {
    font: 16px;
  }
  #connectors .built-template .nav .box h4 span:first-child {
    margin-right: 5px;
  }
  .breadcrumb {
    padding: 0;
  }
  .breadcrumb li {
    font-size: 12px !important;
  }
  .breadcrumb li a {
    font-size: 12px !important;
  }
  .close-icon {
    margin-right: 0 !important;
    font-size: 12px;
  }
  #exampleModalNested .modal-dialog .close-tab {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar .form-inline {
    width: 58%;
  }
  .navbar #show-sidebar {
    margin-right: 0em;
  }
  main.page-content #myAccount .next-invoice .btn {
    margin-top: 10px;
  }
  #profile-detail .container form .image-uploader .file-container p {
    padding-top: 15px;
  }
  #registerThanks .welcome-register p {
    font-size: 14px;
    line-height: 25px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 714px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .special-offer-modal .close {
    top: -35px !important;
  }
  .special-offer-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .special-offer-modal .modal-body h3 {
    margin-top: 0;
  }
  .special-offer-modal .modal-body .btn {
    font-size: 14px !important;
  }
  .special-offer-modal .modal-body a {
    margin-top: 8px;
  }
  .special-offer-modal .modal-body hr {
    display: none;
  }
}
/*# sourceMappingURL=responsive.css.map */