@media only screen and (min-width:1441px) {
    main.page-content {
        max-width: 100%;

        .container-fluid {
            padding-left:40px;
        }

        .get-started-form,
        .built-template,
        .dotted-line {
            max-width: 100%;
        }
    }
   
}

// @media only screen and (min-width: 1441px) {.special-right-margin { margin-right: 45px!important;}}
@media only screen and (max-width: 1200px) {
    nav.navbar {
        justify-content: left;
    }

    .check-container {
        .checkmark {
            margin-top: 8px;
        }
    }

    .wrap-mobile {
        width: 100%;
        display: flex;

    }

    #usage-content {
        .usage-top-actions {
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;

            a {
                width: 100%;
            }
        }


    }

    .guideline-modal {
        .zapier-right {
            display: block;


            h3 {
                margin-bottom: 15px;
                font-size: 20px;
                margin-top: 30px;
            }

            h4 {
                font-size: 18px;
            }

            .zapier-right-content {
                margin-bottom: 15px;

                p {
                    line-height: 20px;
                }
            }
        }
    }

    #registerThanks .welcome-register {
        padding: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .guidelines {
        display: block;
    }

    .zapier-right {
        display: none;
    }

    #connectors {
        .close-tab .guidelines {
            display: block;
        }

        .zapier-right {
            display: none;
        }
    }

    .show-hide-toggle {
        display: none;
    }
}

@media only screen and (max-width: 991px) {



    .built-template .nav-pills .nav-link.active,
    .built-template .nav-pills .show>.nav-link {
        box-shadow: none !important;
        background: #8bc53d;

        h3 {
            color: #fff;
        }
    }

    .built-template .nav-pills .nav-link.active::after,
    .built-template .nav-pills .show>.nav-link::after {
        display: none;
    }

    .built-template .nav .box:hover::after {
        display: none;
    }

    #login-page {
        .logo {
            position: static;
        }

        .login-area {}
    }

    .parse-resume-from {
        display: block !important;
        width: 100%;
        margin-bottom: 10px;
    }



    .built-template {
        margin: auto;

        .pr-0 {
            padding-left: 0;
        }

        .nav {
            max-height: 100%;
            flex-direction: row !important;
            flex-wrap: wrap;
            justify-content: center;
            overflow-x: auto;
            margin-bottom: 10px;
            padding: 0;
            overflow-x: hidden;

            .force-overflow {
                display: none;
            }

            .box {
                padding: 5px;
                width: 33.33%;
                margin-bottom: 5px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                box-shadow: none;

                .col-auto {
                    display: none;

                }

                h3 {
                    margin-bottom: 0;
                    font-size: 15px;
                    line-height: 20px;

                    &::after {
                        display: none;
                    }

                    span {
                        display: none !important;
                    }
                }

                .icon {
                    display: none;
                }
            }
        }

        .active-tab-panel {

            overflow-y: scroll;
            padding: 18px;
            padding-top: 0;

            .tab-content-logo-container {
                padding: 0;
            }

            .tab-row-content {
                font-size: 14px;
            }

            .tab-content-logos {
                margin-bottom: 10px;
            }
        }
    }

    #template2 {

        .box {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

    }

    #connectors {
        .box {


            .icons-text {
                .icons {
                    margin-bottom: 2px !important;

                    div {
                        padding: 6px;
                        margin: 2px;
                    }
                }

                p {
                    display: none;
                }
            }

            p {
                font-size: 14px;
            }
        }

        .built-template .nav-pills .nav-link.active,
        .built-template .nav-pills .show>.nav-link {
            p {
                color: #fff;

            }
        }

    }


}


@media only screen and (min-width : 768px) and (max-width : 1024px) {
    nav.navbar {
        justify-content: left;
    }

    .wrap-mobile {
        display: flex;
    }

    main.page-content #myAccount .extracted-apps {
        font-size: 16px;

        .d-flex {
            align-items: center;

            a {
                margin: 5px;
                padding-left: 3px;
                padding-right: 3px;
            }

            p {
                line-height: 20px;
            }
        }

        span {
            display: none;
        }
    }

    #registerThanks .welcome-register {
        padding: 60px 30px;
    }

    main.page-content .container-fluid {
        padding-left: 15px;
    }

    .page-wrapper.toggled .page-content {
        padding-left: 250px;
    }

    .extract-resume-apps .app-box {
        max-width: 304px;
    }

    #usage-content {
        .usage-top-actions {


            a {
                justify-content: center;

                img {
                    margin-right: 15px;
                }
            }
        }

        .get-started-form {
            .input-group {
                margin-bottom: 30px;
            }

            .form-control {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    #registerThanks .welcome-register {
        height: 100vh;

        padding: 200px 45px;

        h4 {
            font-size: 40px;
        }

        p {
            font-size: 22px;
        }
    }

    main.page-content .get-started-form .form-control {
        margin-bottom: 30px;
    }

    .extract-resume-apps .app-box {
        max-width: 345px;
        margin-right: 0;
    }

    #connectors {
        .built-template .active-tab-panel {
            height: auto;
        }

    }

    #usage-content {


        .get-started-form {
            .input-group {
                margin-bottom: 30px;
            }

            .form-control {
                margin-bottom: 0;
            }
        }
    }

    .hide-ipad-port {
        display: none !important;
    }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    main.page-content {
        padding-top: 40px;
    }

    #show-sidebar {
        margin-right: 20px !important;
    }

    #registerThanks .welcome-register {
        padding: 45px;

        h4 {
            margin-bottom: 0;
            border-bottom: 0;
        }

        .btn-row {
            padding-top: 20px;
            border-top: 0;
        }
    }

    .special-modal {
        .modal-header {
            padding: 0;
        }

        .btn {
            margin-top: 24px !important;
        }
    }

    .sidebar-wrapper {
        top: 65px !important;
    }

    .page-wrapper.toggled .sidebar-wrapper {
        top: 65px !important;
    }

    .wrap-mobile {
        margin-top: 0 !important;
    }

    .my-account-tabs {
        margin-top: 0 !important;
    }
}

@media screen and (min-device-width: 412px) and (max-device-height: 823px) and (-webkit-device-pixel-ratio: 3.5) and (orientation: landscape) {
    main.page-content {
        padding-top: 75px !important;
    }

    .wrap-mobile {
        width: 100%;

        display: flex;
        margin-top: 10px;
    }


    nav.navbar {
        height: auto;
        justify-content: space-between;
    }

    .special-offer-modal {
        margin: 0 auto !important;
        width: 90%;

        .modal-body {
            padding: 0;
        }

        .special-modal {
            .close {
                top: -35px
            }

            a {
                margin-top: 10px;
            }

            h3 {
                font-size: 30px !important;
                line-height: 35px !important;
                margin-top: 0;

                span {
                    font-size: 22px !important;
                }
            }

            .btn {
                font-size: 18px !important;
                margin-top: 0 !important;
            }
        }
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    main.page-content {
        padding-top: 70px !important;

        .get-started-form {
            margin-top: 30px;
        }
    }

    .page-wrapper.toggled .sidebar-wrapper {
        top: 70px;
    }

    nav.navbar {
        height: auto;
        justify-content: space-between;
    }

    .wrap-mobile {
        width: 100%;

        display: flex;
        margin-top: 10px;
    }

    #email-notification .btn {
        width: 100%
    }

    .chat-icon {
        display: none;
    }

    #registerThanks .col-lg-9 {
        display: none !important;
    }

    .loading-modal {
        margin: 0 auto;
    }

    #registerThanks .welcome-register {
        padding: 45px;

        h4 {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 20px;
        }

        .btn-row {
            padding-top: 20px;
            border-top: 0;
        }
    }

    .special-modal {
        .modal-header {
            padding: 0;
        }

        .btn {
            margin-top: 24px !important;
        }
    }

    .special-offer-modal {

        .close {
            top: -35px !important;
        }

        .modal-body {
            padding-top: 0;
            padding-bottom: 0;

            h3 {
                margin-top: 0;
                line-height: 50px;
                font-size: 40px;

            }

            .btn {
                font-size: 14px !important;
            }

            a {
                margin-top: 8px;
            }

            hr {
                display: none;
            }
        }
    }
}



@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    main.page-content {
        padding-top: 85px;
    }

    .sidebar-wrapper {
        top: 65px !important;
    }

    .my-account-tabs {
        margin-top: 0 !important;
    }

    .wrap-mobile {
        margin-top: 0 !important;
    }

    .page-wrapper.toggled .sidebar-wrapper {
        top: 65px !important;
    }

    #registerThanks .welcome-register {
        padding: 45px;

        h4 {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 20px;
            font-size: 25px;
        }

        .btn-row {
            padding-top: 20px;
            border-top: 0;
        }
    }

    .special-modal {
        .modal-header {
            padding: 0;
        }

        .btn {
            margin-top: 24px !important;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    main.page-content {
        padding-top: 85px;
    }

    #registerThanks .welcome-register {
        padding: 45px;
        padding-top: 30px !important;

        h4 {
            margin-bottom: 0;
            border-bottom: 0;
        }

        p {
            font-size: 15px;
            line-height: 18px;
        }

        .btn-row {
            padding-top: 20px;
            border-top: 0;
        }
    }

    .special-modal {
        .modal-header {
            padding: 0;
        }

        .btn {
            margin-top: 24px !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    nav.navbar {
        justify-content: space-between;

        .input-group {
            width: 100%;
        }
    }

    .sidebar-wrapper {
        top: 111px
    }

    .sidebar-menu .dashboard {
        margin-top: 0;
    }

    .page-wrapper.toggled .sidebar-wrapper {
        top: 111px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        z-index: 99;

        .sidebar-menu {
            .dashboard {
                margin-right: 0;
                border-radius: 0;
                margin-top: 0;
            }

            ul {
                margin-right: 0;

                li a {
                    margin-right: 0;
                    border-radius: 0;

                    span.badge {
                        margin-right: 0;
                        ;
                    }
                }
            }
        }
    }

    #usage-content {
        padding-top: 120px;

        .get-started-form {
            .form-control {
                margin-bottom: 0;
            }
        }

        .table td {
            padding: 10px 5px;
            font-size: 12px;

            .status {


                span {
                    display: none;
                }
            }
        }

        .mobile-results {
            display: flex;
            flex-direction: column;
            justify-content: left;

            .dropdown {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .usage-top-actions {
            flex-wrap: nowrap;

            .col {
                padding-left: 3px !important;
                padding-right: 3px !important;
            }

            a {
                justify-content: center;
                width: 100%;

                img {
                    margin-right: 10px;
                }
            }
        }

        .table-content .tablular-data .data-border {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .navbar #show-sidebar {
        margin-right: 0 !important;
    }

    .modal-dialog {
        margin: 1.5rem;
    }

    .loading-modal {
        margin: 0 auto;
    }

    .special-modal {
        .close {
            right: 10px !important;
            top: -55px !important;
        }
    }



    #profile-detail {
        height: auto;
    }

    #registerThanks .welcome-register {
        padding-top: 45px;
    }

    main.page-content .my-account-tabs .nav-item.show .nav-link,
    main.page-content .my-account-tabs .nav-link.active .page-wrapper.toggled {
        .sidebar-wrapper {
            top: 0 !important;
            z-index: 9999 !important;
        }
    }

    #email-notification .notification-box label {
        font-size: 20px;
    }

    #email-notification .custom-control .custom-control-label::before {
        top: -8px;
        left: -23px;
        width: 48px;
    }

    #email-notification {
        .btn {
            width: 100%;
        }
    }

    #faq {
        margin-top: 40px;
    }

    .my-account-tabs {
        border-bottom: 0;
        margin-top: 30px;
        margin-bottom: 30px !important;

        .nav-item {
            flex-basis: 50%;
            text-align: center;

            .nav-link {
                background: #f0f0f0;
            }
        }
    }

    main.page-content #myAccount {
        .next-invoice {
            padding-left: 20px;
        }

        .extracted-apps {
            font-size: 16px;

            p {
                font-size: 16px;
            }
        }
    }

    main.page-content .my-account-tabs .nav-item.show .nav-link,
    main.page-content .my-account-tabs .nav-link.active {
        background-color: #8bc53d;
        color: #fff;
    }

    .navbar {
        height: auto !important;

        .form-inline {
            width: 64%;
        }

        .navbar-nav {
            flex-direction: row;
            flex-wrap: wrap;

            .nav-item {
                margin: 10px 0;
            }
        }
    }

    .page-content {
        .get-started-form {
            margin-top: 30px !important;

            .form-control {
                margin-bottom: 40px;
            }
        }
    }

    .extract-resume-apps {
        .app-box {
            max-width: 100%;
        }
    }

    .special-modal {
        width: 90%;
        margin: auto;
    }

    .special-offer-modal {
        margin: 0 auto !important;
        width: 90%;

        .modal-body {
            padding: 0;
        }

        .special-modal {
            a {
                margin-top: 10px;
            }

            h3 {
                font-size: 30px !important;
                line-height: 35px !important;
                margin-top: 0;

                span {
                    font-size: 22px !important;
                }
            }

            .btn {
                font-size: 18px !important;
                margin-top: 0 !important;
            }
        }
    }

    .wrap-mobile {
        width: 100%;
        display: flex;
        margin-top: 10px;
    }

    footer {
        margin-top: 30px;
    }

    .chat-icon {
        display: none;
    }



    .zapier-right,
    .show-hide-toggle,
    #exampleModalNested .modal-dialog .breadcrumb {
        padding-top: 15px;
    }

    #exampleModalNested .modal-dialog .modal-content .modal-close {
        padding-top: 0;
        border-bottom: 0 !important;
    }

    .zapier .zapier-content {
        padding-top: 30px;
    }

    #exampleModalNested .modal-dialog .modal-content .modal-body {
        margin-top: 50px;
    }

    #connectors {
        .getting-started {
            margin-top: 30px;
        }

        .built-template {
            .nav {
                .box {
                    padding: 8px;


                    h4 {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 20px;
                        line-height: 25px;
                        justify-content: center;
                        margin-bottom: 0;

                        span {
                            font: 16px;

                            &:first-child {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }

    }

    .breadcrumb {
        padding: 0;

        li {
            font-size: 12px !important;

            a {
                font-size: 12px !important;
            }
        }
    }

    .close-icon {
        margin-right: 0 !important;
        font-size: 12px;

    }

    #exampleModalNested .modal-dialog .close-tab {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar .form-inline {
        width: 58%;
    }

    .navbar #show-sidebar {
        margin-right: 0em;
    }

    main.page-content #myAccount .next-invoice .btn {
        margin-top: 10px;
    }

    #profile-detail .container form .image-uploader .file-container p {
        padding-top: 15px
    }

    #registerThanks .welcome-register p {
        font-size: 14px;
        line-height: 25px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 714px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .special-offer-modal {

        .close {
            top: -35px !important;
        }

        .modal-body {
            padding-top: 0;
            padding-bottom: 0;

            h3 {
                margin-top: 0;

            }

            .btn {
                font-size: 14px !important;
            }

            a {
                margin-top: 8px;
            }

            hr {
                display: none;
            }
        }
    }
}